{% extends 'layout/client_nav.html' %}
{% load static %}

{% block content %}


<main>
    <div class="ml-36 mr-36">
        <div>
            <div class="mt-5 flex">
                <input type="text" name="" id="" placeholder="What skill/service are looking for?" class="w-1/2 font-normal text-base border border-black py-2 px-5">
                <a href="#"><img src="{% static '/img/Vector-search.png' %}" alt="" class="-translate-x-8 translate-y-3"></a>
                <button class="text-veryDarkGreen bg-veryLightGreen text-base font-bold py-2 px-8 rounded-md ml-40">Create a brief</button>
                <a href="#"><img src="{% static '/img/Vector-message.png' %}" alt="" class="ml-10 mt-3"></a>
            </div>

            <div class="mt-16 flex">
                <!-- picture Modal  -->
                <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="editPictureModal">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                      </div>
                      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true"></span>
                      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-sm transform transition-all sm:my-8 sm:align-top sm:max-w-2xl sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                        <!-- Modal content goes here -->

                        <form method="POST" enctype="multipart/form-data" class="p-6">
                            {% csrf_token %}
                            <h2 class="text-lg font-semibold mb-4">Change Picture</h2>

                            {{ profile_pic_form.as_p }}

                          
                            <div class="text-right">
                                <button type="submit"
                                    class="rounded bg-veryDarkGreen text-white px-3 py-2 hover:bg-green-500 font-bold focus:outline-none focus:shadow-outline">
                                    update
                                </button>
                                <button class="bg-gray-300 border-2 border-gray-700 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2" type="button" id="closePictureModal">Cancel</button>
                            </div>
                        </form>
                          
                      </div>
                    </div>
                  </div>
                <!-- Picture Modal  -->

                <div>
                    
                    <img src="{% if profile_pic %}{{ profile_pic.0.image.url }}{% else %}{% static 'img/Client-Photo.png' %}{% endif %}" class="h-50 w-96" alt="">
                    <a href="#"><img src="{% static '/img/camera.png' %}" alt="" id="openPictureModal" class="translate-x-60 translate-y-0 -mt-1"></a>
                </div>

                <div class="ml-10">
                    <div class="flex">
                        <h1 class="font-extrabold text-5xl">{{ user.first_name }} {{ user.last_name }}</h1>
                        <a href="#"><img src="{% static '/img/Group 68.png' %}" alt="" class="translate-x-72 translate-y-10"></a>
                    </div>

                    <div class="mt-2 p-4 border rounded-md border-solid border-lightAsh">
                        <h6 class="font-medium text-base">+234 894 7844 8977</h6>
                        <h6 class="mt-5 font-medium text-base">yemirichards@yoladgloba.com</h6>
                        <h6 class="mt-5 font-medium text-base">Yolad Global Service Limted</h6>
                        <h6 class="mt-5 font-medium text-base">No. 184 Ikorodu Road, Lagos State</h6>
                    </div>
                </div>
            </div>
            
            <div class="rounded-md border-2 border-lightAsh py-5 mt-5">
                <div class="flex">
                    <div class="ml-20">
                        <p class="font-bold text-xl text-someKindBlack">Get proposals from the most relevant sellers</p>
                        <p class="font-normal text-base mt-2">Simply create a project brief and let us do the searching for you.</p>
                    </div>

                    <div>
                        <button class="text-veryDarkGreen bg-veryLightGreen text-base font-bold py-2 px-8 rounded-md ml-60 mt-3">Create a brief</button>
                    </div>
                </div>   
            </div>

            <div class="mt-10 bg-veryDarkGreen p-5 mb-20">
                <p class="font-medium text-8xl text-white text-center py-5">Advert</p>
            </div>
        </div>
    </div>
</main>

<script>
    const editPictureModal = document.getElementById('editPictureModal');
    const openPictureModalButton = document.getElementById('openPictureModal');
    const closePictureModalButton = document.getElementById('closePictureModal');

    openPictureModalButton.addEventListener('click', () => {
    editPictureModal.classList.remove('hidden');
    });

    closePictureModalButton.addEventListener('click', (event) => {
        event.preventDefault()
    editPictureModal.classList.add('hidden');
    });
</script>
    
{% endblock %}