{% extends 'layout/dash_nav.html' %} 
{% load static %} 
{% block content %}

    {% for msg in display_msg %}
    
    <div class="{% if msg.message.msg_sender == user %} bg-gray-100 {% endif %} border border-gray-400 mx-5 my-1 text-gray-800 py-2 w-3/6 rounded-md items-center">
        <div class="pl-5 mx-5 my-5 text-gray-800 w-3/6 rounded-md flex flex-row items-center">
            <div>
                {% if msg.message.msg_sender == user %}
                <img src="{{ user_profile_picture.image.url }}" alt="profile-img" class="h-10 w-10 rounded-full"/>
                
                {% else %}
                <img src="{{ profile_picture.image.url }}" alt="profile-img" class="h-10 w-10 rounded-full"/>
                {% endif %}
            </div>
            <div class="flex mx-4">
                <div class="mx-4 font-semibold">
                    {{ msg.message.msg_sender }}
                </div>

                <div class="mx-4 text-xs">
                    {{ msg.message.timestamp }}
                </div>
            </div>
        </div>
        <div class="mx-4 text-xs ml-40">
            {{ msg.message.msg_body }}
        </div>
    </div>

    {% endfor %}

    <form method="POST" class="mx-1 my-1 py-1">
        {% csrf_token %}

        <div>
            {{form.msg_body}}
        </div>
        
        <div class="flex my-2">
            <div>
                <button class=" px-4 py-2 rounded-md border-2 border-green-700 text-green-700 font-semibold">Send</button>
            </div>

            <div>
                <a class="bg-gray-700 px-4 py-2 rounded-md border text-white font-semibold">Send an offer</a>
            </div>
        </div>
    </form>


{% endblock %}

