{% extends 'layout/message_nav.html' %}

{% load static %}

{% block content %}




    <div class="bg-veryDarkGreen text-white font-semibold py-4 text-center justify-center items-center text-xl shadow">
        <p>Message Thread</p>
    </div>


    <div class="p-4 sm:flex {% if message.sender.username == user.username %} flex justify-start {% else %} justify-end {% endif %}">

        <div id="message-list" class="py-2 px-5 inline-block">
            {% for message in messages %}
            <p class="px-2 py-2 my-2 rounded-md text-white {% if message.sender.username == user.username %} bg-stone-500 {% else %}bg-veryDarkGreen{% endif %}">
                <span class="font-bold">[{{message.sender.username}}]</span>: <br>{{ message.text }} <br>
                <span class="text-xs">{{ message.created_at }}</span>
            </p>
            {% endfor %}

        </div>
    
    </div>
    


    <div class="">

        <div>
              
            <div class="flex justify-center">
                <form id="message-form" method="POST" class=" my-1 py-1 z-10">
                    {% csrf_token %}

                        <div class="">
                            {{form.msg_body}}
                        </div>
                        
                        <div class="my-2 mx-2 py-3 sm:flex sm:justify-center sm:items-center sm:mx-10">
                            <div class="flex justify-center py-2">
                                <button class="px-20 sm:px-10 sm:mr-8 py-2 rounded-md border-2 border-veryDarkGreen text-veryDarkGreen font-semibold hover:bg-veryLightGreen hover:text-white" type="submit">Send</button>
                            </div>
    
                            <div class="flex justify-center py-2">
                                <button id="openModal" class="bg-veryDarkGreen px-16 sm:px-5 sm:ml-8 py-2 rounded-md border-2 text-white font-semibold hover:bg-white hover:text-veryLightGreen hover:border-veryLightGreen">Send Quote</button>
                            </div>

                            <div class="flex justify-center py-2 sm:hidden">
                                <a
                                href="/inbox"
                                class="rounded bg-veryDarkGreen px-20 text-white py-2 justify-end items-end">
                                back
                              </a>
                            </div>

                            
                        </div>


                </form>

                <!-- Modal -->
                <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="myModal">
                    <div class="flex items-center justify-center min-h-screen">
                    <!-- Overlay -->
                    <div class="fixed inset-0 bg-black opacity-50"></div>
                    <div class="bg-white p-8 rounded shadow-md relative">
                        <div class="flex justify-end absolute top-0 right-0 m-4">
                        <button class="text-gray-500 hover:text-gray-700" id="closeModal">
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                        </div>
                        <div class="mt-4">
                        <!-- Modal content -->
                        <form method="POST">
                            {% csrf_token %}
                            <div>
                                <div class="px-4 font-semibold">
                                    Create custom order
                                </div>
                                <div class="px-4">
                                    {{ order_form.gig_desc }}
                                </div>

                                <div class="px-4">
                                    {{ order_form.delivery }}
                                    {{ order_form.price }}
                                </div>

                                <div class="px-4">
                                    <button class="px-10 py-2 rounded-md border-2 border-green-700 text-green-700 font-semibold hover:bg-gray-200 " type="submit">Send</button>
                                </div>
                            </div>
                           
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        const openModalBtn = document.getElementById('openModal');
        const closeModalBtn = document.getElementById('closeModal');
        const modal = document.getElementById('myModal');
      
        openModalBtn.addEventListener('click', () => {
          modal.classList.remove('hidden');
        });
      
        closeModalBtn.addEventListener('click', () => {
          modal.classList.add('hidden');
        });
    </script>

    
    {% block javascript %}

    <script type="text/javascript">

        const url = "ws://127.0.0.1:8000/ws" + window.location.pathname;
        
        const ws = new WebSocket(url)
    
        ws.onopen = function(event) {
            console.log("connection opened");
        }
        
        ws.onmessage = function(event) {
            console.log(event)
            console.log("message received");
            const div = document.getElementById("message-list")
            var p = document.createElement("p")
            var data = JSON.parse(event.data);
            p.classList.add("px-2", "py-2", "my-2", "text-white", "rounded-md", "bg-veryDarkGreen");
            //p.append(document.createTextNode(
            //    "[" + data.username + "]: <br>" + data.text
            //));
            var message = "<strong>[" + data.username + "]</strong>: <br>" + data.text;
            p.innerHTML = message;
            div.append(p);
           
        }
    
        ws.onclose = function(event) {
            console.log("connection closed");
        }
    
        ws.onerror = function(event) {
            console.log("error occurred");
        }

        const messageForm = document.getElementById("message-form")
        messageForm.addEventListener("submit", sendMessage)
        function sendMessage(e) {
            if (e.preventDefault) e.preventDefault();
            ws.send(document.getElementById("id_msg_body").value);
            messageForm.reset()
            return false;
        }
    
    </script>
        
    {% endblock javascript %}
        


{% endblock %}


{% comment %} {% for msg in display_msg %}
            
<div class="{% if msg.sender == user %} bg-gray-100 {% endif %} border border-gray-400 mx-5 my-1 text-gray-800 py-2 rounded-md items-center">
    <div class="pl-5 mx-5 my-5 text-gray-800 rounded-md flex flex-row items-center">
        <div>
            {% if msg.sender == user %}
            <img src="{{ user_profile_picture.image.url }}" alt="profile-img" class="h-10 w-10 rounded-full"/>
            
            {% else %}
            <img src="{{ profile_picture.image.url }}" alt="profile-img" class="h-10 w-10 rounded-full"/>
            {% endif %}
        </div>
        <div class="flex mx-4">
            <div class="mx-4 font-semibold">
                {{ msg.sender }}
            </div>

            <div class="mx-4 text-sm">
                {{ msg.timestamp }}
            </div>
        </div>
    </div>
    <div class="mx-4 text-sm ml-40">
        {{ msg.content }}
    </div>
</div>


{% endfor %} {% endcomment %}