{% extends 'layout/message_nav.html' %}

{% load static %}
{% load custom_filters %}


{% block content %}




    <div class="bg-veryDarkGreen text-white font-semibold py-4 text-center justify-center items-center text-xl shadow">
        <p>Message Thread</p>
    </div>


    <!-- <div class="md-compact:p-4">
        <div id="message-list" class="py-2 px-5 inline-block w-full">
            {% for message in messages %}
            <div class="flex {% if message.sender.username == user.username %} justify-start {% else %} justify-end {% endif %}">
                <div class="w-auto xl:max-w-[500px] lg:max-w-96 md:max-w-80 sm:max-w-72">
                    <p class="px-2 py-2 my-2 rounded-xl text-white {% if message.sender.username == user.username %} bg-stone-500 {% else %} bg-veryDarkGreen {% endif %}">
                        <span class="font-bold">[{{ message.sender.username }}]</span>: <br>{{ message.text }} <br>
                        <span class="text-xs">{{ message.created_at }}</span>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> -->

    <div class="md-compact:p-4 flex">
        <div id="message-list" class="py-2 px-5 inline-block w-full">
            {% for message in messages %}
            <div class="">
                <div class="w-full xl:w-full lg:w-full md:w-full sm:w-full">
                    <p class="px-2 py-2 my-2 rounded-tl-3xl rounded-br-3xl text-white bg-veryDarkGreen">
                        <span class="font-bold">[{{ message.sender.username }}]</span>: <br>{{ message.text }} <br>
                        <span class="text-xs">{{ message.created_at }}</span>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="sm:grid sm:grid-cols-1 lg:grid-cols-1">
            {% if user.role == "SKILLAS" %}
            {% for order in display_order %}
            <div class="border border-veryDarkGreen mx-4 my-4 text-gray-800 px-2 rounded-lg items-center wow fadeInRight">
                
                <div class="flex justify-between border-b border-veryShadyGreen py-2">
                    <p class="font-semibold">Custom order <span class="font-semibold text-veryDarkAsh">{{ order.order_no }}</span></p>
                    <p class="font-semibold">NGN{{ order.price }}</p>
                </div>
    
                <div class="px-4 pt-2 pb-1 h-full">
                    <p class="text-sm break-words h-28">{{ order.gig_desc }}</p>
    
                    <div class="px-4 pt-2 pb-5 border-t border-veryShadyGreen">
                        <p class="">Order Duration: <span class="font-semibold">{{ order.delivery }} Days</span></p>
                    </div>
    
                    <div class="bg-veryShadyGreen text-white text-center py-2 font-semibold my-2 rounded-md">
                        {% if order.accepted == False %}
                            Pending
                        {% else %}
                            Order Accepted
                        {% endif %}
                    </div>
    
                    {% if order.paid == True %}
                    <div class="flex border text-veryDarkGreen text-xl text-center justify-center font-semibold my-2 rounded-md">
                        <p class="my-auto">Paid</p>
                        <img class="h-14 w-14 my-auto" src="{% static 'img/check_mark.png' %}">
                    </div>
                    {% endif %}
                    
                </div>
    
            </div>
            {% endfor %}
            {% else %}
            {% for order in display_order %}
            <div class="border border-gray-400 mx-5 my-4 text-gray-800 py-2 md-compact:px-4 rounded-md shadow-lg items-center wow fadeInUp">
                
                <div class="md-compact:flex justify-between border-b-2 py-2 ml-2">
                    <p class="font-semibold">Custom order <span class="font-semibold text-green-700 ml-2">{{ order.order_no }}</span></p>
                    <p class="font-semibold">NGN{{ order.price }}</p>
                </div>

                <div class="px-4 pt-2 pb-10 border-b-2 xl:h-40 lg:h-44 sm:h-40 h-36 overflow-auto">
                    <p class="text-sm">{{ order.gig_desc }}</p>
                </div>

                <div class="px-4 pt-2 pb-5 border-b-2">
                    <p class="">This order will be dellivered in:</p>
                    <p class="font-semibold text-xl">{{ order.delivery }} Days</p>
                </div>

                <div class="flex justify-between text-sm mx-2 my-2">

                    <form method="POST">
                        {% csrf_token %}
                        <div hidden=true>
                            {{ accept_form.accept }}
                        </div>
                        <input type="number" name="form_id" required="" id="id_form_id" value="{{ order.id }}" hidden>

                        
                        {% if order.decline == False %}
                        <button type="submit" class="text-white bg-green-700 text-center px-4 py-2 mx-5 xl:ml-2 rounded-md shadow-sm font-semibold">
                            {% if order.accepted == False %}
                                Accept
                            {% else %}
                                <a href="{% url 'main:make_payment' order_no=order.order_no price=order.price %}">Make payment</a>
                            {% endif %}
                        </button>
                        
                        {% endif %}
                            
                        
                    </form>

                    <form method="POST">
                        {% csrf_token %}
                        <div hidden=true>
                            {{ decline_form.decline }}
                        </div>
                        <input type="number" name="form_id" required="" id="id_form_id" value="{{ order.id }}" hidden>

                        {% if order.accepted == False %}
                    
                        <button type="submit" class="text-white bg-red text-center px-4 py-2 mx-5 rounded-md shadow-sm font-semibold">

                            {% if order.decline == False %}
                                Decline
                            {% else %}
                                Quote Rejected
                            {% endif %}
                        </button>
                            
                        {% endif %}
                    </form>
                    
                </div>
                {% if order.paid == True %}
                <form method="POST">
                    {% csrf_token %}
                    <input id="" value="{{ order.skilla }}" name="skilla" class="hidden">
                    <input id="" value="{{ order.id }}" name="mark_order_as_complete" class="hidden">
                    {% if order.completed == False %}
                    <button class="bg-veryDarkGreen text-white rounded px-2 py-1 shadow hover:bg-gray-500 w-full" type="submit">Mark as complete</button>
                    {% else %}
                    <button class="bg-veryLightGreen font-bold text-veryDarkGreen rounded px-2 py-1 shadow w-full" type="button">Order completed</button>
                    {% endif %}
                </form>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
        </div>

    </div>

    <div class="">

        <div>
              
            <div class="flex justify-center">
                <form id="message-form" method="POST" class=" my-1 py-1 z-10">
                    {% csrf_token %}

                        <div class="">
                            <div class="flex justify-center items-center gap-2">

                                <div class="hidden sm:block">
                                    <button id="openModal" class="bg-veryDarkGreen px-5 sm:px-5 sm:ml-8 py-6 rounded-md text-white font-semibold hover:bg-veryShadyGreen hover:border-veryLightGreen">Send Quote</button>
                                </div>

                                {{form.msg_body}}
                                <div class="">
                                    <button class="px-4 py-8 mr-1 rounded-md border border-veryDarkGreen text-veryDarkGreen font-semibold hover:bg-veryDarkGreen hover:text-white" type="submit">
                                        Send
                                    </button>
                                </div>
                            </div>
                            {% if user.role == "SKILLAS" %}    
                            <div class="flex justify-center py-2 sm:hidden">
                                <button id="openModal" class="bg-veryDarkGreen px-9 sm:px-5 sm:ml-8 py-2 rounded-md border-2 text-white font-semibold hover:bg-white hover:text-veryLightGreen hover:border-veryLightGreen">Send Quote</button>
                            </div>
                            {% endif %}

                            <div class="flex justify-center py-2 sm:hidden">
                                <a
                                href="/inbox"
                                class="rounded bg-veryDarkGreen px-16 text-white py-2 justify-end items-end">
                                back
                              </a>
                            </div>
                        </div>
                        
                        <div class="my-2 mx-2 sm:flex sm:justify-center sm:items-center sm:mx-10">

                            

                            

                        </div>


                </form>

                <!-- Modal -->
                <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="myModal">
                    <div class="flex items-center justify-center min-h-screen">
                    <!-- Overlay -->
                    <div class="fixed inset-0 bg-black opacity-50"></div>
                    <div class="bg-white p-8 rounded shadow-md relative">
                        <div class="flex justify-end absolute top-0 right-0 m-4">
                        <button class="text-gray-500 hover:text-gray-700" id="closeModal">
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                        </div>
                        <div class="mt-4">
                        <!-- Modal content -->
                        <form method="POST">
                            {% csrf_token %}
                            <div>
                                <div class="px-4 font-semibold">
                                    Create custom order
                                </div>
                                <div class="px-4">
                                    {{ order_form.gig_desc }}
                                </div>

                                <div class="px-4">
                                    {{ order_form.delivery }}
                                    {{ order_form.price }}
                                </div>

                                <div class="px-4">
                                    <button class="px-10 py-2 rounded-md border-2 border-green-700 text-green-700 font-semibold hover:bg-gray-200 " type="submit">Send</button>
                                </div>
                            </div>
                           
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        const openModalBtn = document.getElementById('openModal');
        const closeModalBtn = document.getElementById('closeModal');
        const modal = document.getElementById('myModal');
      
        openModalBtn.addEventListener('click', () => {
          modal.classList.remove('hidden');
        });
      
        closeModalBtn.addEventListener('click', () => {
          modal.classList.add('hidden');
        });
    </script>

    
    {% block javascript %}


    <script type="text/javascript">
        const url = "ws://127.0.0.1:8000/ws" + window.location.pathname;
        /*const url = "wss://getskillas.com/ws" + window.location.pathname; */
        //const url = "wss://getskillas.com/ws" + window.location.pathname;
         
        const ws = new WebSocket(url)
    
        ws.onopen = function(event) {
            console.log("connection opened");
        }
        
        ws.onmessage = function(event) {
            console.log(event);
            console.log("message received");
            const div = document.getElementById("message-list");
            var p = document.createElement("p");
            var data = JSON.parse(event.data);
    
            // Create a span element to wrap the message text
            var messageSpan = document.createElement("span");
            messageSpan.classList.add("px-2", "py-2", "my-1", "text-white", "rounded-sm", "bg-veryDarkGreen", "w-full", "inline-block");
            var message = "<strong>[" + data.username + "]</strong>: <br>" + data.text;
            messageSpan.innerHTML = message;
    
            p.appendChild(messageSpan);
            div.appendChild(p);
        }
    
        ws.onclose = function(event) {
            console.log("connection closed");
        }
    
        ws.onerror = function(event) {
            console.log("error occurred");
        }
    
        const messageForm = document.getElementById("message-form");
        messageForm.addEventListener("submit", sendMessage);
        function sendMessage(e) {
            if (e.preventDefault) e.preventDefault();
            ws.send(document.getElementById("id_msg_body").value);
            messageForm.reset();
            return false;
        }
    </script>
        
    {% endblock javascript %}
        


{% endblock %}