{% extends 'layout/message_nav.html' %}
{% load static %}


{% block content %}

<div class="relative min-h-screen font-primary pt-5">

  <div class="bg-veryDarkGreen text-white font-semibold py-2 text-center text-xl shadow">
    <p>{{ user.username }}'s Inbox</p>
  </div>

  <div class="mt-5 justify-center">
    {% for contact in inbox %}
    
    <div
      class="border-b-2 border-gray-400 px-2 mx-2 text-gray-600 font-semibold items-center shadow-xl"
    >
      <div class="">
        <div class="">
          <div>
            <img
              src="{{ profile_picture.image.url }}"
              alt="profile-img"
              class="rounded-full my-3"
              width="55"
              height="55"
            />
          </div>

          <div class="my-5 text-sm">{{ contact.username }}</div>
          <div class="my-5 text-sm mx-4">{{ contact.created_at }}</div>
  
        </div>
  
        <div class="my-4 items-center justify-center">
            <div class="">
              <a
              href="{% url 'main:chat' username=contact.username %}"
              class="text-white border border-veryDarkGreen bg-emerald-900 my-2 px-4 py-2 rounded-md shadow-sm text-sm font-semibold"
            >
              Read
            </a>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  

</div>
  
{% endblock %}

