{% extends 'layout/nav.html' %}
{% load static %}

{% block content %}

    <div>

        <form method="POST">
            {% csrf_token %}
            

            <p>
                <label for="id_company_name">Company name:</label>
                <input type="text" name="company_name" maxlength="200" id="id_company_name">
                
                
            </p>
            
            
            <p>
                <label for="id_location">Location (City/Country):</label>
                <select name="location" id="id_location">
            <option value="" selected>---------</option>
            
            <option value="NIGERIA">Nigeria</option>
            
            <option value="UK">United Kingdom</option>
            
            <option value="USA">United States of America</option>
            
            <option value="GHANA">Ghana</option>
            
            </select>
                
                
            </p>
            
            
            <p>
                <label for="id_state">State:</label>
                <input type="text" name="state" maxlength="50" id="id_state">
                
                
            </p>
            
            
            <p>
                <label for="id_industry">Industry or Business Type:</label>
                <input type="text" name="industry" maxlength="100" id="id_industry">
                
                
            </p>
            
            
            <p>
                <label for="id_company_size">Company size (Number of Employees):</label>
                <input type="number" name="company_size" id="id_company_size">
                
                
            </p>
            
            
            <p>
                <label for="id_services">Describe the services or skills needed (Optional):</label>
                <input type="text" name="services" maxlength="200" id="id_services">
                
                
            </p>
            
            
            <p>
                <label for="id_work_history_with_freelancer">Have you worked with a freelancer or skilled workers Before:</label>
                <select name="work_history_with_freelancer" id="id_work_history_with_freelancer">
            <option value="unknown" selected>Unknown</option>
            
            <option value="true">Yes</option>
            
            <option value="false">No</option>
            
            </select>
                
                
            </p>
            
            
            <p>
                <label for="id_terms_and_conditions">Terms and conditions:</label>
                <input type="checkbox" name="terms_and_conditions" id="id_terms_and_conditions">
                
                
                
                
            </p>

            <div class="md:flex items-center justify-between mt-5">
                <button type="submit"
                    class="bg-gray-800 w-full hover:bg-gray-500 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                    Get Started
                </button>                      
            </div>

        </form>
    
    
    </div>
    

{% endblock %}