{% extends 'layout/brief_nav.html' %}
{% load static %}


{% block content %}    
<main>
    <div class="flex mr-40 items-center justify-center">
      <div class="mt-40 ml-20">
        <h2 class="font-primary font-semibold text-5xl">
          Let the matching <br />
          begin...
        </h2>

        <p class="font-normal text-lg mt-20 mb-20">
          Fill us in on the big picture let us <br />know what you want.
        </p>

        <img src="{% static '/img/group_357.png' %}" alt="illustration" class="mb-40" />
      </div>
      
      {% comment %} <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="mt-5 mb-10 ml-12">
          <button
            type="submit"
            class="bg-veryDarkGreen text-white text-center font-bold text-2xl py-3 px-24 rounded focus:outline-none focus:shadow-outline"
            type="button"
          >
            Create account
          </button>
          <a
            ><img
              src="{% static '/img/right_arrow.svg' %}"
              alt="Right arrow icon"
              class="ml-64 -mt-10 pl-12"
            />
          </a>
        </div>
      </form> {% endcomment %}


      <div class="ml-16">
        <div class="mt-10">
          <div class="flex">
            <h6 class="font-primary font-bold text-xl text-lightBlack">
              Give your project brief a title
            </h6>

            <a
              href="/client_dashboard"
              class="text-base font-semibold font-primary translate-x-72 ml-20 -mt-7"
              >Exit</a
            >
          </div>

          <div class="">
            <div class="">
              <p
                class="font-primary font-normal text-base text-lightBlack mt-2"
              >
                Keep it short and simple, this will help us match you to the
                right category.
              </p>

              <input
                type="text"
                name=""
                id=""
                class="border w-full mt-5 px-2"
                placeholder="Example: I need a cleaner for my 4 bedroom duplex"
              />

              <h6
                class="font-primary font-normal text-base text-lightBlack underline mt-2"
              >
                Some title examples
              </h6>
            </div>

            <div>
              <h6
                class="font-primary font-bold text-xl text-lightBlack mt-14"
              >
                What are you looking to get done ?
              </h6>

              <p
                class="font-primary font-normal text-base text-lightBlack mt-3"
              >
                This will help get your brief to the right talent, Specifics
                help here
              </p>

              <textarea
                name=""
                id=""
                rows="7"
                class="border mt-2 resize-none indent-0 w-1/2"
              >
                I need...</textarea
              >

              <p class="font-primary font-normal text-base underline mt-2">
                How to write a great description
              </p>
            </div>

            <div class="flex mt-10">
              <button
                class="text-veryDarkGreen font-bold text-base bg-veryLightGreen rounded-md pr-10 px-5 py-3"
              >
                Attach Files
              </button>
              <img
                src="{% static '/img/evaAttachOutline0.svg' %}"
                alt="attach icon"
                class="ml-2 -translate-x-10"
                width=""
                height=""
              />
            </div>
            <div class="mt-10">
              <h6
                class="font-primary font-bold text-base text-veryLightBlack"
              >
                What category best fits your project?
              </h6>
            </div>

            <div>
              <select
                name=""
                id=""
                class="border bg-shadeAsh_3 py-2 px-2 pr-64 mt-5"
              >
                <option value="" selected>Choose 1 category</option>
              </select>
            </div>

            <div class="flex">
              <h6
                class="mt-10 font-primary font-extrabold text-xl text-shadeAsh_9"
              >
                I’m looking to spend..
              </h6>
            </div>
            
            <div>
              <input
                type="text"
                name=""
                id=""
                placeholder="Up to"
                class="border-2 placeholder-shadeAsh_10 mt-5 pr-32 px-2"
              />
  
              <div class="flex">
                <p class="font-normal text-[13px] text-lightBlack mt-2">
                  Average range for this service is $100 to $750
                </p>
                <img src="{% static '/img/circle.png' %}" alt="question mark" class="ml-2" />
              </div>
  
              <div class="flex mt-5 mb-5">
                <input type="checkbox" name="" id="" />
                <label for="" class="text-[13px] font-normal text-veryLightBlack"
                  >My budget is flexible</label
                >
              </div>

              <div>
                <h6
                  class="font-primary font-bold text-xl text-veryLightBlack mt-5 mb-5"
                >
                  Let’s talk timing
                </h6>
                <input
                  type="date"
                  name=""
                  id=""
                  placeholder="Ideal delivery date"
                  class="border-2 w-full mt-2 placeholder-shadeAsh_10 mb-5"
                />
              </div>

              <div class="m-5 translate-x-72">
                <button
                  class="text-base font-primary font-bold text-white bg-veryDarkGreen rounded-md px-5 py-2"
                >
                  Review
                </button>
              </div>

          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}