{% extends 'layout/brief_nav.html' %}
{% load static %}


{% block content %}    
<main>
    <div class="flex lg:mr-20 sm:mx-10 portable:mx-20 custom:mx-10 md-compact:mx-10 mx-5">
      <div class="hidden sm:block sm:mt-40 sm:ml-0 xl:ml-60 lg:ml-20">
        <h2 class="font-primary font-semibold xl:text-6xl lg:text-4xl md:text-2xl sm:text-xl">
          Let the matching <br />
          begin...
        </h2>

        <p class="hidden xl:block font-normal xl:mb-20 xl:mt-10">
          Fill us in on the big picture let us <br />know what you want.
        </p>

        <p class="xl:hidden font-normal lg:text-xl md:text-base sm:mt-10 lg:mt-20 xl:mb-20 sm:mb-10">
          Fill us in on the big picture let us know what you want.
        </p>

        <img src="{% static '/img/group_357.png' %}" alt="illustration" class="xl:mb-40" />
      </div>

      <!-- create_brief.html -->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="xl:mb-4 mt-7 xl:ml-40 lg:ml-20 sm:ml-10">
          <div class="flex">
            <h6 class="font-primary font-bold portable:text-xl text-lg text-lightBlack">
              Give your project brief a title
            </h6>
            {% comment %} <a href="/client_dashboard" class="text-base font-semibold font-primary translate-x-72 ml-20">Exit</a> {% endcomment %}
          </div>
          <p class="font-primary font-normal text-base text-lightBlack mt-2">
              Keep it short and simple, this will help us match you to the
              right category.
          </p>

            <input value="{{ edit_brief.title }}" type="text" name="title" class="border border-gray-700 p-2 mb-4 xl:w-full w-3/4 mt-10 rounded-md" maxlength="100" required="" id="id_title">
        </div>

        <div class="mb-4 xl:ml-40 lg:ml-20 sm:ml-10">
          <h6 class="font-primary font-bold portable:text-xl text-lg text-lightBlack mt-14">
                What are you looking to get done ?
          </h6>

          <p class="font-primary font-normal text-base text-lightBlack mt-3 mb-5">
            This will help get your brief to the right talent, Specifics
            help here
          </p>
            <textarea name="description" cols="20" rows="4" class="border border-gray-700 p-2 mb-4 xl:w-full w-3/4 mt-10 rounded-md" required="" id="id_description">{{ edit_brief.description }}</textarea>
        </div>
        <div class="mb-4 mt-5 xl:ml-40 lg:ml-20 sm:ml-10">
            <input value="{{ edit_brief.attach_files }}" type="file" name="attach_files" class="text-veryDarkGreen font-bold text-base bg-veryLightGreen rounded-md w-3/4" required="" id="id_attach_files">
        </div>
        <div class="mb-4 xl:ml-40 lg:ml-20 sm:ml-10">
          <div class="mt-10 mb-7">
            <h6 class="font-primary font-bold text-base text-veryLightBlack">
              What category best fits your project?
            </h6>
          </div>
          {{ form.categories }}
        </div>
        <div class="mb-4 xl:ml-40 lg:ml-20 sm:ml-10">
          <div class="flex mb-5">
            <h6 class="mt-10 font-primary font-extrabold portable:text-xl text-lg text-shadeAsh_9">
              I’m looking to spend..
            </h6>
          </div>
            <input value="{{ edit_brief.budget }}" type="number" name="budget" class="border border-gray-700 p-2 mb-4 xl:w-full w-3/4 rounded-md" required="" id="id_budget">
            <div class="flex">
              <p class="font-normal text-[13px] text-lightBlack mt-2">
                Average range for this service is $100 to $750
              </p>
              <img src="/static/img/question_mark.svg" alt="question mark" class="hidden md-compact:block md-compact:ml-2">
            </div>
        </div>
        <div class="mb-4 xl:ml-40 lg:ml-20 sm:ml-10">
            <input type="checkbox" name="budget_flexible" class="border border-gray-700 mr-2 rounded-md" id="id_budget_flexible">
            <label for="" class="text-[13px] font-normal text-veryLightBlack">
              My budget is flexible
            </label>
        </div>
        <div class="mb-4 xl:ml-40 lg:ml-20 sm:ml-10 mt-20">
          <h6 class="font-primary font-bold text-xl text-veryLightBlack mt-5 mb-5">
            Let’s talk timing
          </h6>
          {{ form.date }}

            <h6 class="text-sm text-light_ash">We’ll find available skillas</h6>
        </div>

        <div class="m-5 xl:translate-x-72 xl:ml-72 lg:ml-20 sm:ml-10">
          <button class="text-base font-primary font-bold text-white bg-veryDarkGreen rounded-md px-5 py-2" type="submit">
          Create brief
          </button>
        </div>
      </form>             

          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}