{% extends 'layout/client_nav.html' %}
{% load static %}


{% block content %}

<div class="flex justify-center items-center mt-20 mb-28 sm-compact:h-[50vh] h-[35vh]">
  <img class="xl:w-1/3 sm:w-1/2 w-2/3" src="{% static '/img/empty_page.png' %}" loading="lazy" alt="empty page">
</div>

<div class="w-1/3 mx-auto mt-10 text-center text-veryDarkGreen font-semibold">
  <a href="/create_brief"><button class="bg-veryLightGreen rounded-lg py-2 px-2 shadow">Create brief</button></a>
</div>

{% for brief in briefs %}
<main class="w-full compact:w-11/12 md-compact:w-10/12 custom:w-9/12 portable:w-2/3 sm:w-11/12 md:w-2/3 lg:w-1/2 xl:w-1/3 mt-10 mx-auto wow fadeInUp">
  <div class="mt-5 mb-5 border-2 rounded-xl shadow-xl flex flex-col sm:flex-row text-veryDarkGreen hover:bg-veryShadyGreen hover:text-white">

    <div class="py-5 mx-auto sm:mx-5">
      <a href="#">
        <img src="{{ profile_pics.image.url }}" alt="Skillas photo" class="mx-auto h-12 w-12 compact:h-14 compact:w-14 md-compact:h-16 md-compact:w-16 custom:h-18 custom:w-18 portable:h-20 portable:w-20 sm:h-16 sm:w-16 md:h-20 md:w-20 lg:h-24 lg:w-24" />
      </a>
    </div>

    <div class="mt-5 sm:mt-0 flex flex-col sm:flex-row sm:items-center flex-1">
      <div class="compact:mx-3 md-compact:mx-5 custom:mx-7 portable:mx-8 sm:mx-5 md:mx-10 text-center sm:text-left">
        <h2 class="font-semibold">{{ brief.title }}</h2>
        <h2 class="font-bold text-sm mt-3">NGN{{ brief.budget }}</h2>
      </div>
    </div>

    <!-- Edit and Delete buttons -->
    <div class="flex flex-col sm:flex-row items-center mt-5 sm:mt-0 ml-auto space-y-3 sm:space-y-0 compact:space-x-1 md-compact:space-x-2 custom:space-x-3 portable:space-x-4 sm:space-x-3 md:space-x-5 px-4 py-2">
      <a href="{% url 'main:edit_brief' id=brief.id %}" class="bg-veryLightGreen rounded-full px-4 py-2 text-sm font-semibold">Edit</a>

      <form method="POST">
        {% csrf_token %}
        <input value="{{ brief.id }}" hidden=true name="delete_brief">
        <button class="bg-veryDarkGreen rounded-full px-4 py-2 text-sm font-semibold text-white">Delete</button>
      </form>
    </div>
  </div>
</main>



{% endfor %}


{% endblock %}
