{% extends 'layout/dash_nav.html' %} {% load static %} {% block content %}



<div class="sm:border sm:shadow-lg sm:rounded-lg xl:mt-28 lg:mt-20 mt-14 sm:pt-14 pt-10 xl:mx-40 lg:mx-20 sm:mx-10 pb-20">
    <div class="font-primary">
        <h6 class="text-veryLightBlack font-normal md:text-4xl sm:text-3xl text-2xl text-center mt-2">Available Balance</h6>
        
        <div class="flex justify-end">
            <a href="/skillas_dashboard"><img src="{% static '/img/Group 320.png' %}" alt="" class="xl:mr-80 lg:mr-20 sm-compact:mr-10 mr-5 w-6"></a>
        </div>
        <h3 class="text-veryLightBlack font-extrabold lg:text-5xl md:text-3xl text-2xl text-center">#102,000</h3>
        <h6 class="text-veryLightBlack font-normal md:text-2xl text-xl text-center mt-14">Withdraw funds from your wallet to your bank account</h6>
    </div>

    <div>
        <div class="hidden sm-compact:flex justify-center items-center">
            <input type="text" name="skillas-amount" id="skillas-amount" placeholder="Enter Amount (NGN)" class="hidden sm-compact:flex text-extremelyLightAsh rounded-lg border border-someBlack mt-10 xl:pr-60 lg:pr-40 md:pr-24 p-4">
            
        </div>

        <div class="sm-compact:hidden mx-5">
            <input type="text" name="skillas-amount" id="skillas-amount" placeholder="Enter Amount (NGN)" class="text-extremelyLightAsh rounded-lg border border-someBlack mt-10 w-44">
        </div>

        <div class="xl:mx-72 lg:mx-48 md:mx-32 sm:mx-28 portable:mx-20 custom:mx-10 mx-5">
            <div class="flex justify-center items-center bg-veryDarkGreen mt-10 rounded-md py-4 xl:mx-40">
                <a href="/continue_to_withdrawal" class="font-extrabold lg:text-2xl text-xl text-white text-center">Continue</a>
                <a href="/continue_to_withdrawal"><img src="{% static '/img/Vector-arrow.png' %}" alt="" class="ml-5 w-8"></a>
            </div>
        </div>
    </div>
</div>
    

    {% endblock %}

