{% extends 'layout/dash_nav.html' %} {% load static %} {% block content %}

<div>
    <div>
        <div class="mt-5 custom:ml-10 ml-5">
            <h3 class="font-primary font-normal text-2xl mb-10">Wallet</h3>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-3 xl:mx-2 lg:mx-40 xl:gap-x-2 md:mx-20 sm:ml-10 portable:ml-5 custom:ml-3">
            <!--main balance begin-->
            <div class="mt-5 bg-veryShadyGreen rounded-xl mx-2 bg-cover bg-no-repeat lg:h-72 sm:w-3/4 w-11/12 xl:w-full"
                style="background-image: url('{% static '/img/bg_payment.svg' %}'); background-position: bottom; background-blend-mode: multiply;"
            >
                <div class="relative flex mx-auto">
                    <h3 class="hidden portable:block font-semibold text-white custom:text-xl text-lg mt-8 ml-5">Main Balance</h3>
                    <h3 class="portable:hidden font-semibold text-white text-base mt-8 ml-5">Main <br/> Balance</h3>
                    <img
                        src="{% static '/img/Group 215.png' %}"
                        alt=""
                        class="hidden custom:block absolute left-0 transform translate-x-72 w-24 h-7 mt-5 custom:-translate-x-5 custom:left-auto custom:right-0"
                    />
                </div>
        
                <div>
                    <h2 class="font-semibold portable:text-3xl text-xl text-white mt-10 ml-3">
                        <p> NGN <span> {{ wallet.main }} </span></P>
                    </h2>
                </div>
        
                <div class="flex custom:ml-5 ml-2 mt-20 pb-10">
                    <div
                        class="custom:px-3 custom:py-2 sm-compact:p-1 compact:p-1 p-[2px] rounded-md bg-white text-veryDarkGreen font-semibold sm:text-xl custom:text-base text-sm"
                    >
                        <a href="#">Add Cash</a>
                    </div>
                    <div
                        class="custom:px-3 custom:py-2 sm-compact:p-1 compact:p-1 p-[2px] custom:ml-5 ml-2 rounded-md bg-veryLightGreen text-veryDarkGreen font-semibold sm:text-xl custom:text-base text-sm"
                    >
                        <a href="/fund_withdrawal">Withdraw</a>
                    </div>
                </div>
            </div>
            <!--main balance end-->
        
            <!--pending balance begin-->
            <div class="mt-5 bg-green-900 rounded-xl mx-2 bg-cover bg-no-repeat h-72 sm:w-3/4 w-11/12 xl:w-full"
                style="background-image: url('{% static '/img/bg_payment.svg' %}'); background-position: bottom; background-blend-mode: multiply;"
            >
                <div class="relative flex mx-auto">
                    <h3 class="hidden portable:block font-semibold text-white custom:text-xl text-lg mt-8 ml-5">Pending Balance</h3>
                    <h3 class="portable:hidden font-semibold text-white text-base mt-8 ml-5">Pending <br/> Balance</h3>
                    <img
                        src="{% static '/img/Group 215.png' %}"
                        alt=""
                        class="hidden custom:block absolute left-0 transform translate-x-72 w-24 h-7 mt-5 custom:-translate-x-5 custom:left-auto custom:right-0"
                    />
                </div>
        
                <div>
                    <h2 class="font-semibold portable:text-3xl text-xl text-white mt-10 ml-3">
                       <p> NGN <span class="text-green-500"> {{ wallet.pending }} </span></P>
                    </h2>
                </div>
                
            </div>
            <!--pending balance end-->
        
            <!--withdrawn balance begin-->
            <div class="mt-5 bg-rose-900 rounded-xl mx-2 xl:w-full sm:w-3/4 w-11/12 bg-cover bg-no-repeat h-72 mb-16"
                style="background-image: url('{% static '/img/bg_payment.svg' %}'); background-position: bottom; background-blend-mode: multiply;"
            >
                <div class="relative flex mx-auto">
                    <h3 class="hidden portable:block font-semibold text-white custom:text-xl text-lg mt-8 ml-5">withdrawn</h3>
                    <h3 class="portable:hidden font-semibold text-white text-base mt-8 ml-5">Withdrawn</h3>
                    <img
                        src="{% static '/img/Group 215.png' %}"
                        alt=""
                        class="hidden custom:block absolute left-0 transform translate-x-72 w-24 h-7 mt-5 custom:-translate-x-5 custom:left-auto custom:right-0"
                    />
                </div>
        
                <div>
                    <h2 class="font-semibold portable:text-3xl text-xl text-white mt-10 ml-3">
                        <p> NGN <span class="text-rose-500"> {{ wallet.withdrawn }} </span></P>
                    </h2>
                </div>
            </div>
            <!--withdrawn balance end-->
        </div>
    </div>

</div>






{% endblock %}