{% load static %}
<!DOCTYPE html>

<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skilla</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static '/js/init-alpine.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/wow.min.js' %}"></script>
    <script>
      new WOW().init();
    </script>
    

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <!-- Navbar goes here -->
  <body>
    <header class="absolute left-0 w-full z-10">
      <!-- Navbar -->
      <nav
        class="container h-20 border-b-2 flex bg-white max-w-full font-primary shadow-md fixed"
      >
        <!-- Logo -->
        <div class="ml-36 mt-4">
          <img
            src="{% static '/img/skillas_design-03.png' %}"
            alt="Logo"
            class="w-1/3"
          />
        </div>

        <div class="ml-72 flex items-center justify-center w-full font-primary font-bold text-base invisible sm:visible">
            <a href="#" class="bg-veryDarkGreen text-white py-3 pl-3 pr-12">View</a>
            <img
            src="{% static '/img/downward_arrow.svg' %}"
            alt="downward arrow"
            class="w-5 -ml-10"
          />


            {% if not user.is_authenticated %}
            <a
              href="/register"
              class="bg-veryDarkGreen text-white px-5 py-3 ml-12"
              >Use Web App</a
            >

            {% elif user.role == "SKILLAS" %}
            <a
              href="/skillas_dashboard"
              class="bg-veryDarkGreen text-white px-3 py-2 ml-12"
              >Dashboard</a
            >
s
            {% elif user.role == "CLIENT" %}
            <a
              href="/client_dashboard"
              class="bg-veryDarkGreen text-white px-3 py-2 ml-12"
              >Dashboard</a
            >
            {% endif %}
        </div>

        <li class="ml-2 sm:ml-5 lg:invisible list-none">
            <a href="#offcanvas-mobile-menu" class="offcanvas-toggle flex text-[#016450] hover:text-secondary">
                <svg width="24" height="24" class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" />
                </svg>
            </a>
        </li>

      </nav>
    </header>

    <!-- offcanvas-overlay start -->
    <div class="offcanvas-overlay hidden fixed inset-0 bg-black opacity-50 z-50"></div>
    <!-- offcanvas-overlay end -->

    <!-- offcanvas-mobile-menu start -->
    <div id="offcanvas-mobile-menu" class="offcanvas left-0 transform -translate-x-full fixed font-normal text-sm top-0 z-50 h-screen xs:w-[300px] lg:w-[380px] transition-all ease-in-out duration-300 bg-white">

        <div class="py-12 pr-5 h-[100vh] overflow-y-auto">
            <!-- close button start -->
            <button class="offcanvas-close text-primary text-[25px] w-10 h-10 absolute right-0 top-0 z-[1]" aria-label="offcanvas">x</button>
            <!-- close button end -->

            <!-- offcanvas-menu start -->

            <nav class="offcanvas-menu mr-[20px]">
                <ul>
                    <li class="relative block border-b-primary border-b first:border-t first:border-t-primary">
                        <a href="#" class="block capitalize font-normal text-black hover:text-secondary text-base my-2 py-1 px-5">Home</a>
                        <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100 capitalize">
                            <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="index.html">home 01</a></li>
                            <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="index-2.html">home 02</a></li>
                            <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="index-3.html">home 03</a></li>
                            <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="index-4.html">home 04</a></li>
                            <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="index-5.html">home 05</a></li>
                            <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="index-6.html">home 06</a></li>
                        </ul>
                    </li>
                    <li class="relative block border-b-primary border-b">
                        <a href="about.html" class="block capitalize font-normal text-black hover:text-secondary text-base my-2 py-1 px-5">About</a>
                    </li>
                    <li class="relative block border-b-primary border-b">
                        <a href="#" class="block capitalize font-normal text-black hover:text-secondary text-base my-2 py-1 px-5">Properties</a>
                    </li>

                    <li class="relative block border-b-primary border-b"><a href="#" class="relative block capitalize font-normal text-black hover:text-secondary text-base my-2 py-1 px-5">agency</a>
                    </li>

                    <li class="relative block border-b-primary border-b"><a href="#" class="relative block capitalize text-black hover:text-secondary text-base my-2 py-1 px-5">Blog</a>
                    </li>
                    <li class="relative block border-b-primary border-b"><a href="contact.html" class="relative block capitalize text-black hover:text-secondary text-base my-2 py-1 px-5">Contact</a></li>
                </ul>
            </nav>
            <!-- offcanvas-menu end -->

            <div class="px-5 flex flex-wrap mt-3 sm:hidden">
                <a href="#" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all">Add
                    Property</a>
            </div>



        </div>
    </div>
    <!-- offcanvas-mobile-menu end -->

    <div class="pt-10">{% block content %} {% endblock %}</div>

    <footer>
      <div class="bg-veryDarkGreen p-10">
        <div class="mt-10 flex items-center justify-center">
          <img
            src="{% static '/img/Group 213.svg' %}"
            alt="skillas-white-logo"
          />
        </div>

        <div class="p-10">
          <p class="text-white font-medium text-xl text-center mb-12">
            The easiest way to hire/sell is instantly at zero risk
          </p>
          <p class="text-white font-medium text-xl text-center mb-12">
            Terms & Condition <span class="ml-5">Privacy Policy</span>
          </p>
          <div class="flex items-center justify-center pt-5 space-x-4">
            <img src="{% static '/img/Group 289.png' %}" alt="Instagram" />
            <img src="{% static '/img/Vector (1).png' %}" alt="Twitter" />
            <img src="{% static '/img/Vector (2).png' %}" alt="LinkedIn" />
          </div>
        </div>
      </div>

      <div class="p-5">
        <p class="text-veryDarkGreen p-5 font-medium text-2xl text-center">
          &copy;2023 Yolad Global Service Limited All rights reserved.
        </p>
      </div>
    </footer>


    


  </body>

  
</html>
