
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Skillas</title>
    <meta name="AdsBot-Google" content="noindex follow" />
    <meta name="description" content="An artisan marketplace">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/skilla_mini_logo.jpg' %}" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}" />

    <!-- Style CSS -->

</head>

<body>

    <div class="grid grid-cols-5 h-full">
        <aside class="self-start sticky top-0 col-span-1 border-r-2 bg-veryDarkGreen pb-10 z-10 pr-2 flex flex-col h-full">
            <!-- // Fixed Sidebar -->
            <div class="bg-veryDarkGreen text-white font-semibold py-2 text-center text-xl shadow">
                <a href="/">Skillas</a>
            </div>

            <div class="bg-veryDarkGreen text-white font-semibold py-2 text-center text-xl shadow">
                <p>{{ user.username }}'s Inbox</p>
            </div>

            <!-- menu item -->
            <div>
                <span class="select-none flex items-center px-4 py-[.775rem] cursor-pointer my-[.4rem] rounded-[.95rem]">
                <a href="/skillas_dashboard" class="flex items-center flex-grow text-[1.15rem] text-stone-500 font-semibold hover:text-dark">Dashboard</a>
                </span>
            </div>

            <!-- menu item -->
            {% for contact in inbox %}
    
            <div
                class="container mx-auto border border-gray-400 text-gray-400 font-semibold items-center shadow-xl pl-2"
            >
                <div class="flex justify-center items-center">
                    <div class="flex items-center">
                        <div>
                            <img
                            src="{{ profile_picture.image.url }}"
                            alt="profile-img"
                            class="rounded-full my-1 w-12 h-12">
                        </div>

                        <div class="my-5 mx-4 text-lg text-gray-400 font-semibold">{{ contact.username }}</div>

                        {% comment %} <div class="my-5 text-sm mx-4">{{ contact.role }}</div> {% endcomment %}

                        {% for m in mssg%}
                            <div class="my-5 text-sm mx-4">{{ m|slice:":12" }}...</div>
                        {% endfor %}

                        <div class="mx-4 flex">
                            <a
                            href="{% url 'main:chat' username=contact.username %}"
                            class="text-white border border-gray-500 my-2 px-2 rounded-md shadow-sm text-sm font-semibold"
                        >
                            Read
                        </a>
                        </div>
                
                    </div>
                </div>
            </div>
            {% endfor %}

        </aside>
        
        <main class="col-span-4">
            <!-- content-->
            {% block content %}
            {% endblock %}
        </main>
    </div>
    
</body>
  

   
</html>
