{% load static %}
<!DOCTYPE html>

<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skilla</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static '/js/init-alpine.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/wow.min.js' %}"></script>
    <script>
      new WOW().init();
    </script>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <script src="{% static '/js/wow.min.js' %}"></script>
    <script>
      new WOW().init();
    </script>
  </head>

  <!-- Navbar goes here -->
  <body>
    <header>
      <!-- Navbar -->
      <nav
        class="container border-b-2 py-3 flex bg-white justify-center items-center max-w-full font-primary fixed"
      >
        <!-- Logo -->
        <div class="-ml-10">
          <img src="{% static '/img/Group 215.svg' %}" alt="Logo" />
        </div>
        <!-- Menu Items -->

        <div class="flex ml-20">
          <input
            type="search"
            name="search"
            id="search"
            class="rounded border-2 px-80 font-normal text-base ml-16 pl-10 py-4"
            placeholder="Search for Skills or Service"
          />
          <a href="#"
            ><img
              src="{% static '/img/search_icon.svg' %}"
              alt=""
              class="-translate-x-10 mt-4"
          /></a>
        </div>

        <div class="flex ml-12">
          <h3 class="ml-5 font-primary font-semibold text-lg">Help</h3>
          <a href="#"
            ><img
              src="{% static '/img/drop_down.svg' %}"
              alt=""
              class="mt-3 ml-2"
          /></a>
        </div>

        <div class="ml-20">
          <a
            class="ml-12 rounded bg-veryDarkGreen text-white font-semibold px-7 py-4 text-lg"
          >
            Skillas Blog
          </a>
        </div>

        <div class="ml-20">
          <a href="#"
            ><img
              src="{% static '/img/Ellipse 12.png' %}"
              alt="Skillas photo"
              class="ml-20"
          /></a>
        </div>
      </nav>
    </header>

    <div class="pt-10">{% block content %}{% endblock %}</div>

    <footer>
      <div class="bg-veryDarkGreen p-10">
        <div class="flex items-center justify-center">
          <img
            src="{% static '/img/Group 213.svg' %}"
            alt="skillas-white-logo "
          />
        </div>

        <div class="p-10">
          <p class="text-white font-medium text-xl text-center mb-12">
            The easiest way to hire/sell is instantly at zero risk
          </p>
          <p class="text-white font-medium text-xl text-center mb-12">
            Terms & Condition <span class="ml-5">Privacy Policy</span>
          </p>
          <div class="flex items-center justify-center pt-5 space-x-4">
            <img src="{% static '/img/Group 289.png' %}" alt="" />
            <img src="{% static '/img/Vector (1).png' %}" alt="" />
            <img src="{% static '/img/Vector (2).png' %}" alt="" />
          </div>
        </div>
      </div>

      <div class="p-5">
        <p class="text-veryDarkGreen p-5 font-medium text-xl text-center">
          &copy;2023 Yolad Global Service Limited All rights reserved.
        </p>
      </div>
    </footer>
  </body>

  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  </script>

  <!-- a little JS for the mobile nav button -->
  <script>
    if (document.getElementById("nav-mobile-btn")) {
      document
        .getElementById("nav-mobile-btn")
        .addEventListener("click", function () {
          if (this.classList.contains("close")) {
            document.getElementById("nav").classList.add("hidden");
            this.classList.remove("close");
          } else {
            document.getElementById("nav").classList.remove("hidden");
            this.classList.add("close");
          }
        });
    }
  </script>
</html>
