{% extends 'layout/home_nav.html' %} {% load static %} 

{% block content%} 

<main class="font-primary">

    <!-- About Us Content -->
    <section>
        <div class="hidden lg:visible lg:mt-10 lg:grid lg:grid-cols-2 bg-white">
            <div class="xl:ml-60 xl:mr-32 lg:ml-14">
                <h2 class="lg:mt-28 xl:mt-28 font-extrabold xl:text-2xl text-xl mb-5 text-veryDarkGreen">About Us</h2>
                <p class="mt-10 font-normal sm:text-xl compact:text-lg">
                    YOLAD GLOBAL SERVICES LIMITED positions itself as a Need-Market Platform
                    that offers skilled Workers, Personnels, Businesses and individual Clients
                    a uniform and trouble-free way to connect in order to seamlessly exchange Values. <br>
                    <br>The company offers a business-to-business solution to the enormous request for
                    Services as demanding as Housekeeping, Technical, Artistic and Support Work. <br>
                    With our hands-on response to demands, we ensure an enabling Environment that
                    dignifies Effort and Efficiency.
                </p>
            </div>
            
            <div class="lg:mt-52 xl:mt-0">
                <img src="{% static 'img/Illustrations-02.svg' %}" alt="Assurance">
            </div>
        </div>

        <!-- Mobile and Tablet Screens -->
        <div class="lg:hidden custom:mt-20 md:mt-10 compact:mt-20">
            <div class="xl:mt-0">
                <img src="{% static 'img/Illustrations-02.svg' %}" alt="Assurance">
            </div>
            
        <div class="compact:mx-3 custom:mx-10 sm:mx-20 md:mx-24 font-extrabold text-2xl mb-5 compact:mb-3 text-veryDarkGreen compact:mt-5">About Us</h2>
            <p class="mt-10 font-normal text-black sm:text-xl compact:text-lg compact:mt-0">
                YOLAD GLOBAL SERVICES LIMITED positions itself as a Need-Market Platform
                that offers skilled Workers, Personnels, Businesses and individual Clients
                a uniform and trouble-free way to connect in order to seamlessly exchange Values. <br>
                <br>The company offers a business-to-business solution to the enormous request for
                Services as demanding as Housekeeping, Technical, Artistic and Support Work. <br>
                With our hands-on response to demands, we ensure an enabling Environment that
                dignifies Effort and Efficiency.
            </p>
        </div>
    </section>

    <!-- About Platform Content -->
    <section>
        <div class="mt-20 lg:grid lg:grid-cols-2 bg-white">
            <div class="xl:ml-56 xl:mt-10 lg:ml-14 lg:mt-14 md:ml-24 sm:mx-40">
                <img src="{% static 'img/Illustrations_Mesa de trabajo 1.svg' %}" alt="business-cycle" class="w-full lg:mt-10 compact:-mt-5">
            </div>

            <div class="compact:mx-3 xl:mr-64 xl:ml-44 lg:-ml-16 custom:mx-10 md:mx-24 md:mt-20 sm:mx-20">
                <h2 class="font-extrabold text-2xl mb-5 lg:mt-10 text-veryDarkGreen compact:mt-7">About The Platform</h2>
                <p class="mt-10 font-normal sm:text-xl compact:text-lg lg:mr-5 compact:-mt-3">
                    The ultimate purpose of this platform is to enhance ease of access, seamless 
                    connections and relationship that works between skilled workers and service users,
                     with well-tailored transactions medium and a second-to-non-trusted and reliable 
                     deliverable system of service.
                </p>
            </div>
        </div>
    </section>

    <!-- Intersecting Circles-->
   
    <section class="flex justify-center">
        <div class="lg:mr-48 custom:mt-10 custom:mb-10 portable:mx-16 sm:mt-16 md:visible items-center justify-center xl:mr-60 xl:mt-20 lg:mx-0 md:mr-64 md:mt-20 md:mb-10">
            <div class="md:mx-auto compact:mx-auto portable:mx-auto sm:mx-auto compact:w-[300px] compact:h-[300px] md:w-[400px] md:h-[400px] rounded-full bg-green-50 md:ml-52 mix-blend-multiply border-green-50 border">
                <h2 class="md:mt-20 font-extrabold text-2xl text-center mb-3 text-veryDarkGreen compact:text-xl compact:mt-7">Mission <br>Statement</h2>
                <p class="mt-3 mx-10 text-center md:text-xl xl:text-2xl compact:text-lg">
                    To be preferred and a trusted Platform that rewards Values and enhances Satisfaction
                    among stakeholders.
                </p>
            </div>
            <div class="md:mx-auto compact:mx-auto portable:mx-auto sm:mx-auto custom:mt-10 compact:w-[300px] compact:h-[300px] md:w-[400px] md:h-[400px] rounded-full bg-green-50 md:ml-[560px] md:-mt-[400px] sm:mt-20 mix-blend-multiply border-green-50 border">
                <h2 class="md:mt-20 font-extrabold text-2xl text-center mb-3 text-veryDarkGreen compact:text-xl compact:mt-7">Vision <br>Statement</h2>
                <p class="mt-5 mx-10 text-center md:text-xl xl:text-2xl compact:text-lg">
                    At YOLAD Global Services, we aim at sustaining a People-friendly Community that promotes exchange 
                    of Values.
                </p>
            </div>
            <div class="md:mx-auto compact:mx-auto portable:mx-auto sm:mx-auto custom:mt-10 sm:mt-20 sm:mb-16 compact:w-[300px] compact:h-[300px] md:w-[400px] md:h-[400px] rounded-full bg-green-50 md:ml-[380px] md:-mt-[100px] border-green-50 border">
                <h2 class="md:mt-20 mb-5 font-extrabold text-2xl text-center text-veryDarkGreen compact:text-xl compact:mt-7">Core Values</h2>
                <div>
                    <h3 class="text-center font-semibold compact:text-lg md:text-xl xl:text-2xl">DIGNITY</h3>
                    <h3 class="text-center font-semibold compact:text-lg md:text-xl xl:text-2xl">ACCOUNTABILITY</h3>
                    <h3 class="text-center font-semibold compact:text-lg md:text-xl xl:text-2xl">TRANSPARENCY</h3>
                    <h3 class="text-center font-semibold compact:text-lg md:text-xl xl:text-2xl">CONFIDENTIALITY</h3>
                    <h3 class="text-center font-semibold compact:text-lg md:text-xl xl:text-2xl">DEDICATION</h3>
                    <h3 class="text-center font-semibold compact:text-lg md:text-xl xl:text-2xl">TIMELINESS</h3>
                    <h3 class="text-center font-semibold compact:text-lg md:text-xl xl:text-2xl">PROFESSIONALISM</h3>
                </div>
            </div>
        <div>
    </section>

    <!-- Pictures of Team Members-->
    {% comment %} <section>
        <div class="xl:mt-44 xl:pb-40 bg-ash">
            <div class="lg:pt-20 lg:mt-20 md:pt-10"> 
                <h2 class="lg:pb-20 custom:pt-10 custom:pb-10 font-extrabold text-3xl text-lightBlack text-center">TEAM MEMBERS</h2>
            </div>
            <div class="pb-10 custom:mx-24 portable:mx-36 sm:mx-52 md:flex items-center justify-center xl:gap-20 lg:mx-20 lg:gap-x-5 md:mx-2 md:gap-x-2">
                <div>
                    <img src="{% static 'img/Rectangle 6.png' %}" alt="Photo of team members">
                    <h3 class="text-lightBlack font-semibold text-2xl lg:mt-5 custom:mt-2 custom:mb-5 custom:text-center">Yemi Richards</h3>
                </div>

                <div>
                    <img src="{% static 'img/Rectangle 6.png' %}" alt="Photo of team members">
                    <h3 class="text-lightBlack font-semibold text-2xl lg:mt-5 custom:mt-2 custom:mb-5 custom:text-center">Team Members</h3>
                </div>

                <div>
                    <img src="{% static 'img/Rectangle 6.png' %}" alt="Photo of team members">
                    <h3 class="text-lightBlack font-semibold text-2xl lg:mt-5 custom:mt-2 custom:mb-5 custom:text-center">Team Members</h3>
                </div>

                <div>
                    <img src="{% static 'img/Rectangle 6.png' %}" alt="Photo of team members">
                    <h3 class="text-lightBlack font-semibold text-2xl lg:mt-5 custom:mt-2 custom:mb-5 custom:text-center">Team Members</h3>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    <!-- Contact -->
    <section>
        <div class="lg:visible xl:visible mt-24 mb-24 items-center justify-center gap-20 bg-ash">
            <div class="hidden lg:flex lg:visible xl:mx-36">
                <img src="{% static 'img/Rectangle 100.png' %}" alt="Customer care rep" class="lg:visible">
            
            <div class="lg:visible lg:ml-20 xl:ml-60 xl:mt-20">
                <h2 class="font-black text-veryDarkGreen md:text-4xl lg:text-2xl xl:text-4xl mb-5">Contact Our 24/7 <br/>
                    Customer Service   
                </h2>

                <p class="md:mt-10 text-2xl lg:text-xl xl:text-2xl">
                    YOLAD GLOBAL SERVICES LIMITED positions <br/> itself as a Need-Market Platform 
                    that offers <br /> skilled Workers and Personnels to businesses. 
                </p>

                <h2 class="font-black text-veryDarkGreen mt-10 text-left text-5xl mb-14 md:text-4xl lg:text-xl xl:text-3xl">
                    +234 803 674 8872
                </h2>
                
                <a href="/register" class="rounded bg-veryLightGreen text-veryDarkGreen text-3xl lg:text-xl xl:text-3xl font-semibold px-10 py-2 md:bg-veryDarkGreen md:text-white">
                    Sign up here
                </a>
            </div>
            </div>
        </div>
            <!--Mobile and small screens -->
            <div class="custom:mt-10  mb-10 lg:hidden pb-10 bg-ash">
                <h2 class="font-bold text-veryDarkGreen text-2xl mb-5 ml-10 pt-10 compact:ml-3 md-compact:ml-5">Contact Our 24/7 Customer Service</h2>

                <p class="custom:text-xl ml-10 md:mr-24 sm:mr-20 compact:text-lg compact:ml-3 md-compact:ml-5 md-compact:mr-24">
                    YOLAD GLOBAL SERVICES LIMITED positions itself as a Need-Market Platform 
                    that offers skilled Workers and Personnels to businesses. 
                </p>

                <h2 class="font-black text-veryDarkGreen mt-10 text-left text-4xl mb-14 compact:text-lg custom:text-2xl ml-10 compact:ml-3 md-compact:ml-5">
                    +234 803 674 8872
                </h2>
                
                <a href="/register" class="rounded bg-veryDarkGreen text-white compact:text-lg text-3xl font-semibold px-10 py-2 custom:text-2xl ml-10 compact:ml-3 md-compact:ml-5">
                    Sign up here
                </a>
            </div>
    </section>
</main>
{% endblock %}
