{% extends 'layout/home_nav.html' %}
{% load static %}

{% block content %}
    <main class="mt-20 font-primary">
        <section>
            <div>
                <div class="mt-44 flex items-center justify-center">
                    <img src="{% static '/img/home_banner.svg' %}" alt="banner">
                </div>

                <div>
                    <img src="{% static '/img/orange.svg' %}" alt="banner">
                </div>
            
            </div>
            

            {% comment %} <div class="-mt-40"> 
                <a
                href="/register"
                class="rounded bg-veryDarkGreen text-white px-5 py-2 text-3xl font-bold ml-48"
                >Get Started</a
              >
            </div> {% endcomment %}



            

        

        

        {% comment %} <section>
            <div class="ml-40 mt-40">
                <h2 class="font-extrabold text-veryDarkGreen text-center text-3xl mt-44 mb-10">Services</h2>
                <div class="pt-10 grid grid-cols-4 gap-6">
                    <div>
                        <img src="{% static 'img/Group 252.png' %}" alt="">
                        <h2 class="font-semibold text-2xl mt-3 p-2">Cleaning Service</h2> <hr class="border-1 border-black w-1/2">
                        <p class="font-medium text-sm pr-36 mt-3">newly created service category. yoladglobal.com therefore has an enormous
                            upside potential and is poised for rapid growth.
                        </p>
                    </div>

                    <div>
                        <img src="{% static 'img/Group 252.png' %}" alt="">
                        <h2 class="font-semibold text-2xl mt-3 p-2">Service Title</h2> <hr class="border-1 border-black w-1/2">
                        <p class="font-medium text-sm pr-36 mt-3">newly created service category. yoladglobal.com therefore has an enormous
                            upside potential and is poised for rapid growth.
                        </p>
                    </div>

                    <div>
                        <img src="{% static 'img/Group 252.png' %}" alt="">
                        <h2 class="font-semibold text-2xl mt-3 p-2">Service Title</h2> <hr class="border-1 border-black w-1/2">
                        <p class="font-medium text-sm pr-36 mt-3">newly created service category. yoladglobal.com therefore has an enormous
                            upside potential and is poised for rapid growth.
                        </p>
                    </div>

                    <div>
                        <img src="{% static 'img/Group 252.png' %}" alt="">
                        <h2 class="font-semibold text-2xl mt-3 p-2">Service Title</h2> <hr class="border-1 border-black w-1/2">
                        <p class="font-medium text-sm pr-36 mt-3">newly created service category. yoladglobal.com therefore has an enormous
                            upside potential and is poised for rapid growth.
                        </p>
                    </div>

                </div>

                <div class="flex flex-col justify-center items-center mt-24 mb-24">
                    <a href="#" class="rounded bg-veryDarkGreen text-white text-2xl font-extrabold px-5 py-2">SIGN UP TO SEE MORE</a>
                </div>
                
            </div>

            <div class=" mb-20 bg-navyBlue">
                <h2 class="font-extrabold text-white mt-24 text-center text-2xl mb-10">CUSTOMERS REVIEW</h2>
                <img src="{% static 'img/Group 256.png' %}" alt="photos of review" class="w-full">
            </div> {% endcomment %}

            <div class="bg-gray-100 pb-20 mt-20">
                <div class="ml-40 mr-40 mb-10">
                    <h2 class="pt-20 font-semibold text-veryDarkGreen text-center text-3xl mb-10">Frequently Asked Questions</h2>
    
                    <div class="">
                        <div class=" rounded-none grid grid-rows-6 gap-y-4 cursor-pointer">
                            <div class="accordion-header border py-4 shadow-md flex justify-between">
                                <a class="font-normal text-xl">What Is The Refund Policy?</a>
                                <i class="bx bx-chevron-right text-3xl"></i>
                            </div>
    
                            <div class="accordion-header border py-4 shadow-md flex justify-between">
                                <a class="font-normal text-xl">What Is The Refund Policy?</a>
                                <i class="bx bx-chevron-right text-3xl"></i>
                            </div>
    
                            <div class="accordion-header border py-4 shadow-md flex justify-between">
                                <a class="font-normal text-xl">What Is The Refund Policy?</a>
                                <i class="bx bx-chevron-right text-3xl"></i>
                            </div>
    
                            <div class="accordion-header border py-4 shadow-md flex justify-between">
                                <a class="font-normal text-xl">What Is The Refund Policy?</a>
                                <i class="bx bx-chevron-right text-3xl"></i>
                            </div>
    
                            <div class="accordion-header border py-4 shadow-md flex justify-between">
                                <a class="font-normal text-xl">What Is The Refund Policy?</a>
                                <i class="bx bx-chevron-right text-3xl"></i>
                            </div>
    
                            <div class="accordion-header border py-4 shadow-md flex justify-between">
                                <a class="font-normal text-xl">What Is The Refund Policy?</a>
                                <i class="bx bx-chevron-right text-3xl"></i>
                            </div>
            </div>

                        <!-- <div class="accodion-body">
                            <div class="p-4 border-t">
                                <p>A Refund Policy is where you state your policy on whether or not you issue refunds, 
                                    and in what circumstances this may be limited. You can let users know how to go about requesting 
                                    a refund, what steps they must take to get one, what form the refund will be issued in, and how 
                                    long the entire process will take.
                                </p>
                            </div> -->

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
    <section id="contact">
        <div class="mt-24 mb-24 flex items-center justify-center gap-20 bg-gray-100">
            <div class="">
                <img src="{% static 'img/Rectangle 100.png' %}" alt="Customer care rep">
            </div>
            <div class="ml-40">
                <h2 class="font-black text-veryDarkGreen text-5xl mb-5">Contact Our 24/7 <br/>
                    Customer Service   
                </h2>

                <p class="font-medium text-2xl">
                    YOLAD GLOBAL SERVICES LIMITED positions <br/> itself as a Need-Market Platform 
                    that offers <br /> skilled Workers, Personnels, Businesses and 
                </p>

                <h2 class="font-black text-veryDarkGreen mt-10 text-left text-5xl mb-14">
                    +234 803 674 8872
                </h2>
                
                <a href="/register" class="rounded bg-veryDarkGreen text-white text-3xl font-semibold px-10 py-2">
                    Sign up here
                </a>
            </div>
        </div>
    </section>
     </main>

    
{% endblock %}