{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    
    {% comment %} {% load pwa %} {% endcomment %}
    
    <head>
        {% comment %} {% progressive_web_app_meta %} {% endcomment %}
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Skillas</title>
        <meta name="AdsBot-Google" content="noindex follow" />
        <meta name="description" content="An artisan marketplace">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/skilla_mini_logo.jpg' %}" />

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

        <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}" />

        <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}" />

        <!-- Style CSS -->

        <style>
        .sticky-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white; /* Adjust background color as needed */
        z-index: 1000; /* Adjust z-index as needed */
    }
        </style>

    </head>

    <body>

        <div class="sm:flex justify-center items-center xl:mx-60 md:mx-10 sm:mx-3 portable:mx-10 custom:mx-5 mx-3 mt-10 mb-10">
            
            <div class="sm:w-2/3 custom:w-full bg-gray-100 lg:px-10 md:px-5 pl-5 mt-5">
                <h6 class="text-shadeAsh_7 text-xs font-secondary custom:flex justify-end custom:mr-10 mt-5">Having trouble? <a href="#" class="text-darkBlue">Get help</a></h6>
                
                <div class="xl:mt-20 mt-10 text-center">
                    <h2 class="font-secondary font-bold text-2xl">LOGIN</h2>
                    <p class="text-shadeAsh_9 text-base mt-5">Kindly sign in</p>
                </div>

                <div class="mt-10 grid place-items-center w-full">
                    <div class="relative w-2/3">
                      <img  src="{% static '/img/user_icon.png' %}" alt="User Icon" class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5">
                      <input name="username" type="text" class="bg-shadeAsh_0 text-darkBlue_3 border focus:border-veryDarkGreen text-xs pl-10 pr-4 py-3 w-full rounded-md focus:bg-transparent transition-all" placeholder="Username" autofocus required />
                    </div>
                  
                    <div class="relative mt-5 w-2/3">
                      <img src="{% static '/img/password_icon.png' %}" alt="Password Icon" class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5">
                      <input name="password" type="password" class="bg-shadeAsh_0 text-darkBlue_3 border focus:border-veryDarkGreen text-xs pl-10 pr-4 py-3 w-full rounded-md focus:bg-transparent transition-all" placeholder="Password" autofocus required />
                    </div>
                  </div>

                <div class="mt-10 flex justify-center items-center">
                    <a href="/sign_in" class="rounded-md bg-veryDarkGreen text-white text-xs font-secondary font-bold py-4 px-8">Login Now</a>
                </div>

                <div class="flex mt-10 justify-center items-center">
                    <img class="h-5 w-5 ml-3" src="{% static '/img/google_icon.png' %}" alt=" icon" />
                    <a href="#" class="text-xs text-shadeAsh_7 ml-5 mt-1">Login with <span class="font-bold text-black">google</span></a>
                </div>

                <div class="flex mt-10 justify-center items-center pb-20">
                    <img class="h-5 w-5 ml-3" src="{% static '/img/fb_icon.png' %}" alt=" icon" />
                    <a href="#" class="text-xs text-shadeAsh_7 ml-5 mt-1">Login with <span class="font-bold text-black">facebook</span></a>
                </div>
            </div>
    </body>

</html>