


    <h1>Set New Password</h1>
    {% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Set Password</button>
    </form>
    {% else %}
    <p>The reset link is invalid or has expired.</p>
    {% comment %} <p><a href="{% url 'password_reset' %}">click to request new token.</a></p> {% endcomment %}
    {% endif %}


{% comment %} {% block content %}
    <h3>Set new Password</h3>
    {% if validlink %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    {% else %}
    <p>Invalid token or expired.</p>
    <p><a href="{% url 'password_reset' %}">click to request new token.</a></p>
    {% endif %}
{% endblock %}
     {% endcomment %}