{% extends 'layout/nav.html' %}
{% load static %}

{% block content %}
    
<body class="bg-white font-family-karla h-screen">
    <div class="flex m-10 justify-center">
        <div class="border-gray-800 rounded-lg flex m-10 border-2">
            <div class="m-10 p-10">
                <img src="{% static '/img/Illustrations-04.png' %}" width="512" height="512">
            </div>

            <div class="m-10 p-10">
                <div class="p-5">
                    <div class="text-xl font-bold m-5 text-center">Sign Up As</div>
                    <div class="bg-gray-800 rounded-md text-center text-md font-semibold  m-5 text-white pt-2 pb-2 pr-5 pl-5 hover:bg-green-500"><a href=/register_skilla>As a Skilla</a></div>
                    <div class="bg-gray-800 rounded-md text-center text-md font-semibold  m-5 text-white pt-2 pb-2 pr-5 pl-5 hover:bg-green-500"><a href="/register_skilla">As an Individual</a></div>
                    <div class="bg-gray-800 rounded-md text-center text-md font-semibold  m-5 text-white pt-2 pb-2 pr-5 pl-5 hover:bg-green-500"><a href="/register_skilla">As a Company</a></div>
                </div>
            </div>
        </div>
    </div>
</body>

    
{% endblock %}