{% extends 'layout/nav.html' %}
{% load static %}

{% block content %}
    
<body class="bg-white font-family-karla h-screen">
    <div class="flex m-10 justify-center">
        <div class="border-gray-800 rounded-lg flex m-10 border-2">
            <div class="m-10 p-10">
                <img src="{% static '/img/Illustrations-07.png' %}">
            </div>

            <div class="m-10 p-10">
                <p class="">
                </p>
            </div>
        </div>
    </div>

</body>

    
    

    
{% endblock %}