{% extends 'layout/skills_nav.html' %} {% load static %} {% block content %}

<main class="mt-20 bg-white mx-auto">
  <div class="bg-veryDarkGreen py-5 flex mx-auto">

    <ul class="flex flex-wrap items-center text-[16px] font-semibold xl:text-[18px] leading-none relative">
      <p class="text-white font-extrabold text-lg portable:text-xl xl:ml-52 xl:mt-1 lg:ml-10 lg:mt-4 md:ml-20 sm:ml-20 portable:ml-10 portable:pt-1 custom:-mr-16 ml-5">All Categories</p>
      <li class="mr-7 xl:mr-[40px] relative group">

        <div class="xl:ml-48 xl:mr-48 relative z-50 dropdown">
			<a href="#" class="relative block">
                <img
                src="{% static 'img/Group 14.png' %}"
                alt="hamburger menu"
                class="xl:mt-2 lg:mt-4 md:mt-2 sm:mt-2 xl:-translate-x-32 portable:translate-x-16 portable:mt-1 custom:translate-x-16 ml-3 transition-transform hover:scale-110"
                />
            </a>
          <ul class="list-none bg-white drop-shadow-[0px_6px_10px_rgba(0,0,0,0.2)] rounded-[12px] flex flex-wrap flex-col w-[220px] absolute top-[120%] left-1/2 xl:-translate-x-full -translate-x-1/2 mt-5 transition-all
						group-hover:top-[100%] invisible group-hover:visible opacity-0 group-hover:opacity-100">
				<li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
						<form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
							{% csrf_token %}
							<input id="" value="Artisans" name="var" class="hidden">
							<button type="submit">Artisans</button>
						</form>
				</li>
				<li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
					<form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
                        {% csrf_token %}
                        <input id="" value="Technicians" name="var" class="hidden">
                        <button type="submit">Technicians</button>
                    </form>
				</li>

				<li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
					<form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
						{% csrf_token %}
						<input id="" value="Development and IT" name="var" class="hidden">
						<button type="submit">Development and IT</button>
					</form>
				</li>
                <li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                    <form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
                        {% csrf_token %}
                        <input id="" value="Craftsmen" name="var" class="hidden">
                        <button type="submit">Craftsmen</button>
                    </form>
                </li>
                <li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                    <form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
                        {% csrf_token %}
                        <input id="" value="Accounting and Finance" name="var" class="hidden">
                        <button type="submit">Accounting and Finance</button>
                    </form>
                </li>
                <li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                    <form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
                        {% csrf_token %}
                        <input id="" value="Writing and Translation" name="var" class="hidden">
                        <button type="submit">Writing and Translation</button>
                    </form>
                </li>
                <li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                    <form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
                        {% csrf_token %}
                        <input id="" value="Marketing and Sales" name="var" class="hidden">
                        <button type="submit">Marketing and Sales</button>
                    </form>
                </li>
                <li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                    <form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
                        {% csrf_token %}
                        <input id="" value="Legal" name="var" class="hidden">
                        <button type="submit">Legal</button>
                    </form>
                </li>
                <li class="border-b border-solid border-veryDarkGreen border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                    <form method="POST" class="leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary text-veryDarkGreen hover:bg-veryLightGreen text-center my-[-1px] rounded-t-[12px]">
                        {% csrf_token %}
                        <input id="" value="Architecture and Engineering" name="var" class="hidden">
                        <button type="submit">Architecture and Engineering</button>
                    </form>
                </li>
          </ul>
        </li>
    </ul>

    <div class="mx-auto">
      <a href="#"
        ><img
          src="{% static '/img/Vector (7).png' %}"
          alt="Notification bell"
          class="xl:ml-24 lg:mt-1 lg:ml-60 md:ml-28 md:-mt-1 custom:ml-8 -ml-5 absolute "
      /></a>
    </div>
  </div>

	<section>
		<div class="xl:ml-48 xl:mr-48 flex justify-center">
			<div x-data="carousel()" x-init="startCarousel()" class="relative w-full lg:w-full">
                <!-- Carousel Container -->
                <div class="relative xl:h-[75vh] lg:h-[60vh] md:h-[50vh] sm:h-[40vh] h-[30vh] rounded-lg shadow-lg overflow-hidden">
					<!-- Carousel Items -->
					<template x-for="(image, index) in images" :key="index">
						<div x-show="current === index" class="absolute inset-0 transition-opacity duration-5000" x-transition:enter="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="opacity-100" x-transition:leave-end="opacity-0">
							<img :src="image" class="w-full h-full object-cover sm:object-fill md:object-cover lg:object-fill xl:object-cover" alt="Carousel Image">
						</div>
					</template>
				</div>

                 <!-- Navigation Controls -->
        <div class="absolute inset-0 flex items-center justify-between">
            <button @click="prev" class="bg-white bg-opacity-50 p-2 rounded-full shadow-lg">
                &larr;
            </button>
            <button @click="next" class="bg-white bg-opacity-50 p-2 rounded-full shadow-lg">
                &rarr;
            </button>
        </div>

        <!-- Pagination Dots -->
        <div class="absolute bottom-0 left-0 right-0 flex justify-center p-2">
            <template x-for="(image, index) in images" :key="index">
                <span @click="current = index" :class="{ 'bg-gray-800': current === index }" class="w-3 h-3 mx-1 bg-gray-400 rounded-full cursor-pointer"></span>
            </template>
        </div>
            </div>
        </div>

        <div class="mt-5 mb-5 xl:ml-48 lg:ml-28 font-semibold text-sm portable:text-base text-veryDarkGreen flex gap-4">
            <div>
                <button type="submit" class="border-2 border-light_ash px-6 py-2">UPGRADE YOUR <br>SKILLS</button>
            </div>
            <div>
                <button type="submit" class="border-light_ash border-2 px-6 py-2">SUBSCRIBE TO OUR <br>EMAIL LIST</button>
            </div>
        </div>
	</section>

	<section>
		<div class="bg-veryLightGreen flex xl:ml-48 xl:mr-48">
		<h2 class="font-medium text-veryDarkGreen text-2xl portable:text-4xl py-5 pl-10 lg:pl-36 xl:-ml-28">
			Top Skillas
		</h2>
		<a href="#" class="text-base font-medium text-veryDarkGreen mt-8 ml-10">See more</a>
		</div>
	</section>

	<section class="xl:pt-10 lg:pt-10 mx-4 md:mx-9 lg:mx-10 xl:mx-40 portable:pt-10 portable:mx-10">
		<div
		class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-[30px] mb-[-30px]">
		{% for skill in page_object %}
		<div class="mx-4 portable:mb-4">
			<img
			class="pt-2 w-full object-cover h-60"
			src="{{skill.image.url}}"
			alt=""
			/>
			<div class="shadow-xl p-4">
			<h2 class="font-extrabold text-xl text-veryDarkGreen py-2">
				{{ skill.skilla.username }}
			</h2>
			<hr class="border-gray-400 w-full" />
			<h6 class="font-medium text-xs py-2">{{ skill.title }}</h6>
			<hr class="border-gray-400 w-full" />
			<h6 class="font-medium text-xs py-2">{{ skill.skill }}</h6>
			<hr class="border-gray-400 w-full" />
			<h6 class="font-medium text-xs py-2">{{ skill.level }}</h6>
			<hr class="border-gray-400 w-full" />
			<h6 class="font-medium italic text-xs mt-2 py-2">
				Price ranging from
				<span class="not-italic font-extrabold"
				>NGN {{ skill.base_price }}</span
				>
			</h6>
			<hr class="border-gray-400 w-full" />
			<div class="flex mt-2 gap-2 py-2">
				<img src="{% static 'img/Vector (10).png' %}" />
				<img src="{% static '/img/Vector (10).png' %}" />
				<img src="{% static '/img/Vector (10).png' %}" />
				<img src="{% static '/img/Vector (10).png' %}" />
				<img src="{% static '/img/Group 245.png' %}" />
			</div>
			<hr class="border-gray-400 w-full" />
			<div class="mt-5 flex justify-center">
				<a
					href="{% url 'main:skillas_gigs_details' id=skill.id %}"
					class="rounded bg-veryDarkGreen text-white font-medium text-base px-16 py-2"
				
				>
					View details
				</a>
			</div>
			</div>
		</div>
		{% endfor %}
		</div>

		<!--Pagination start-->
		<div
			class="grid px-4 py-3 my-5 text-xs font-semibold tracking-wide text-gray-500 border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
		>
			<span class="flex items-center col-span-3">
			<span class="current">
				Showing page {{ page_object.number }} of {{ page_object.paginator.num_pages }} pages
			</span>
			</span>
			<span class="col-span-2"></span>
			<!-- Pagination -->
			<span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
				<nav aria-label="Table navigation">
					<ul class="inline-flex items-center text-white">

						<li class="">
							{% if page_object.has_previous %}
							<li class="px-5 border border-gray-500"><a href="?page=1">&laquo; first</a></li>
							<li class="px-5 border border-gray-500"><a href="?page={{ page_object.previous_page_number }}">previous</a></li>
							{% endif %}
						</li>

						<li>
							{% if page_object.has_next %}
							<li class="px-5 border border-gray-500"><a href="?page={{ page_object.next_page_number }}">next</a></li>
							<li class="px-5 border border-gray-500"><a href="?page={{ page_object.paginator.num_pages }}">last &raquo;</a></li>
							{% endif %}
						</li>

					</ul>
				</nav>
			</span>
			<!--pagination end-->
		</div>
<!--Pagination end-->

	</section>

  {% comment %} if ad show it here {% endcomment %}
  {% comment %} <section class="ml-48 mr-48 mt-10 mb-10">
    <div>
      <p class="bg-veryDarkGreen text-white p-20 text-center text-5xl font-medium">
        Advert
      </p>
    </div>
  </section> {% endcomment %}

  
</main>

<script>
    function carousel() {
        return {
            current: 0,
            images: [
                "{% static 'img/white_skillas_hero.png' %}",
                "{% static 'img/red_skillas_hero.png' %}",
                "{% static 'img/blue_skillas_hero.png' %}",
                "{% static 'img/purple_skillas_hero.png' %}",
                "{% static 'img/orange_skillas_hero.png' %}"
            ],
            startCarousel() {
                this.carouselInterval = setInterval(() => {
                    this.next();
                }, 5000); // 5 seconds interval
            },
            next() {
                this.current = (this.current + 1) % this.images.length;
            },
            prev() {
                this.current = (this.current - 1 + this.images.length) % this.images.length;
            }
        };
    }

    document.addEventListener('alpine:init', () => {
        Alpine.data('carousel', carousel);
    });
</script>

{% endblock %}