{% extends 'layout/about_nav.html' %} {% load static %} 

{% block content%} 

<main class="mb-20">
    <div class="mt-20 font-primary ml-56 mr-60">
        <h1 class="font-semibold text-3xl pb-10">Service</h1>
        <p class="font-medium text-xl">
            This Terms & Conditions govern the manner in which Skillas Service collects, uses, maintains and discloses information collected
             from users (each, a “User”) of the Skillas Service website/ software (“Site”). This Terms & Conditions applies to the Site and 
             all products and services we offer. By accessing this website we assume you accept these terms and conditions. Do not continue 
             to use this Website if you do not agree to take all of the terms and conditions stated on this page.<br/>

             <div class="underline underline-offset-2 hover:text-lightGreen mt-3 text-red">
                <a href="/service_policy">Privacy policy</a>
             </div>
        </p>

        <div class="mt-10">
            <ol>
                <li class="font-semibold text-2xl">01. User Content Standards:</li>
                    <ol type="a" class="font-medium text-xl mt-3">
                        <li>a. Users are bound by the User Content Standards outlined.</li><br/>
                        <li>b. Content that violates these standards may be removed or edited at the discretion of the owners of Skillas Service.</li><br/>
                        <li>c. Users are obligated to adhere to User Content Standards outlined on this website. </li>
                    </ol>

                <li class="font-semibold text-2xl mt-5">02. License to use website.</li>
                <p class="font-medium text-xl mt-3">Unless otherwise stated, the past, present and future content of the Site and software (including without limitation, 
                    software graphics, text, images, designs, compilations, databases, targeting information, and the trademarks, logos, 
                    domain names, trade names, service marks, trade identities; any and all copyright material (including source and object
                     code); and all other materials related to the Site and Software (the "Content") is protected by applicable copyrights, 
                     trademark rights, database rights and other proprietary rights. Skillas Service (and/or our licensors) own the Content.
                      Other than as expressly permitted in these Terms no rights (whether by implication, estoppel or otherwise) in or to the
                       Content are granted to you.</p>

                <p class="font-medium text-xl mt-3">Subject to strict compliance with these Terms, we grant you a limited, personal, 
                    non-exclusive, non-commercial, revocable, non-assignable and non-transferrable licence to use the Site and (subject 
                    to valid registration) Software and to view, download for caching purposes only, and print pages from the Site for your
                     own personal use.</p>

                    <ul class="font-medium text-xl mt-3 pl-5">
                        <li>•	republish or re-transmit Content from the Site or Software (including republication on another website);</li><br/>
                        <li>•   sell, rent, lease or sub-license the Content</li><br/>
                        <li>•   show or perform any Content in public.</li><br/>
                        <li>•   reproduce, duplicate, copy, create a derivative work or otherwise exploit the Content</li><br/>
                        <li>•   edit, adapt, translate, reverse engine, hack or otherwise modify the Content or any part of the Site or Software without our prior written authorization.</li><br/>
                        <li>•   interfere with another user's use and enjoyment of the Site and Software or use the Site or Software in any other manner that could damage, disable, overburden or impair the Site or Software; or</li>
                    </ul>

                <p class="font-medium text-xl mt-10">Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the 
                    website. Skillas Service does not filter, edit, publish or review Comments prior to their presence on the site or software. 
                    Comments do not reflect the views and opinions of Skillas Service,its agents and/or affiliates. Comments reflect the views 
                    and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Skillas Service 
                    shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use
                     of and/or posting of and/or appearance of the Comments on this website.</p>
                
                <p class="font-medium text-xl mt-3">Skillas Service reserves the right to monitor all Comments and to remove any Comments which
                     can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>

                <li class="font-semibold text-2xl mt-5">03. Registered Users</li>
                <p class="font-medium text-xl mt-3">Access to certain areas and services of the Site and Skillas Service (including access to and use of the Software) is 
                    restricted to registered users. You must be aged 12 or over to become a registered user and you warrant that you have 
                    the capacity to understand, agree and adhere to these Terms. Furthermore, if you are under the age of 18, you must ask 
                    a parent or guardian for permission before you register for the Site.
                </p>
                <p class="font-medium text-xl mt-3">In order to become a registered user, you must register on the homepage of the Site via your existing Skillas account. 
                    You will be required to provide us with information about yourself and you warrant that all the information you provide 
                    to us as part of the registration procedure on the Site is true, accurate, fair and complete. Registered users must adhere
                     to specific guidelines as outlined in their respective accounts.</p>

                <li class="font-semibold text-2xl mt-5">04. Premium and Pro Users</li>
                <p class="font-medium text-xl mt-3">Premium and Pro users, categorized as a Skilla, Client, or Company, are subject to 
                    additional terms specified in their subscription agreements, which may be edited at the discretion of the website owner.</p>

                <li class="font-semibold text-2xl mt-5">05. User Content standards</li>
                <p class="font-medium text-xl mt-3">Users are obligated to adhere to User Content Standards outlined on the website. Content that violates these standards may be
                     removed or edited at the discretion of the website owner. </p>
                <p class="font-medium text-xl mt-3">The User Content must be appropriate, civil, tasteful and accord with generally accepted 
                    standards of etiquette and behaviour on the Internet. </p>
                <p class="font-medium text-xl mt-3">You must not:</p>

                <ul class="font-medium text-xl mt-3 pl-5">
                    <li>•	upload, share or submit User Content that is or may be interpreted as obscene, indecent, pornographic, sexually 
                        explicit, libellous, maliciously false, inaccurate, misleading, depicting violence (in a explicit, graphic or gratuitous
                         manner) offensive, deceptive, threatening, abusive, harassing, menacing, hateful, discriminatory or cause annoyance, 
                         inconvenience or needless anxiety to any person or be in breach of racial, religious hatred or discrimination 
                         legislation</li><br/>
                    <li>•	use the Site, Skillas Service or Software for any illegal or unlawful purpose. You must comply with these Terms at 
                        all times and with all applicable laws and regulations;</li><br/>
                    <li>•	upload, share or submit any User Content that infringes any proprietary rights of any third party including any 
                        patent, copyright, moral right, database right, trade mark right, design right, trade secret rights in passing off, 
                        rights of privacy, publicity, confidence, or under data protection legislation or other intellectual property law;</li><br/>
                    <li>•	upload, share or submit User Content that is or may be capable of giving rise to legal action whether against you 
                        or us or a third party (in each case under any applicable law) or be in breach of any contractual obligation owed to 
                        any person or be in contempt of any court;</li><br/>
                    <li>•	upload, share or submit any User Content which is capable of being construed as negligent advice or which consists
                         of or contains any negligent statement or any instructions, advice or other information which may be acted upon and could,
                          if acted upon, cause illness, injury or death, or any other loss or damage;</li><br/>
                    <li>•	access or use the site, Software, Skillas Service or its content for any commercial or similar purpose;</li><br/>
                    <li>•	upload, share or submit any third party content without that third party's prior written consent, or User 
                        Content that falsely expresses or implies that Skillas Service or the Site sponsor or endorse such User Content</li><br/>
                    <li>•	collect, obtain, compile, gather, transmit, reproduce, delete, revise, view or display any material, data or 
                        information, whether personally identifiable or not, posted by or concerning any other user in connection with the 
                        User Content or in connection with your use of the Site or Skillas Service unless you have obtained the express, 
                        prior written permission of such other person, firm or enterprise to do so;</li><br/>
                    <li>•	impersonate another person or create a false or misleading identity for the purpose of misleading others as 
                        to your identity for the purpose of misleading others as to your identity, or to collect information about other users.</li><br/>
                    <li>•	conduct forward promotions, chain letters, surveys, contests, or pyramid selling schemes;</li><br/>
                    <li>•	use another users' personal data for any purpose other than making contact with them, and it
                         is reasonably expected that this contact will be welcomed by such other users;</li><br/>
                    <li>•	upload, share or submit User Content containing any spy ware, adware, viruses, corrupt files, worm programmes
                         or other malicious code designed to interrupt, damage or limit the functionality of or disrupt any software, 
                         hardware, telecommunications, networks, servers or other equipment, Trojan horse or any other material designed 
                         to damage, interfere with, wrongly intercept or expropriate any data or personal information;</li><br/>
                    <li>•	alter, adapt, modify, copy or create a derivative work from Content;</li><br/>
                    <li>•	modify, adapt, translate, reverse engine, hack or use any other means to retrieve or index any part of the 
                        Site or Software unless you have prior written consent from Skillas Service;</li><br/>
                    <li>•	submit any material or do anything that results in the transmission of junk email, duplicate or unsolicited
                         messages, chain letters, "spamming" or "phishing";</li><br/>
                    <li>•	incorporate any advertising, or conduct any other paid sponsorship or promotional activities of any kind,
                         in or in connection with the User Content; or</li><br/>
                    <li>•	interfere with another user's use and enjoyment of the Site and Skillas Service or use the Site and Skillas
                         Service in any other manner that could damage, disable, over burden or impair the Site or Skillas Service. 
                         We reserve the right to edit or remove any material and User Content uploaded, broadcast, shared or submitted
                          using the Skillas Service, for any reason whatsoever.</li>
                </ul>

                <p class="font-medium text-xl mt-3">Notwithstanding our rights under these Terms in relation to User Content, we do 
                    not undertake to monitor the submission, publication of such content via the Skillas Service.</p>
                
                <li class="font-semibold text-2xl mt-5">06. Abuse/complaints</li>
                <p class="font-medium text-xl mt-3">Comments, reviews and/or feedback ("Comments") relating to you, may be published on the Site. Such Comments may be critical
                     or defamatory. We are not liable in respect of any Comments irrespective of whether we are aware or ought to have been 
                     aware of such Comments. Notwithstanding the foregoing, you can report any abuse or complain about any Comments, User 
                     Content or other Content on the Site by using the [Report Abuse] function on the Site or sending an email to (skillas 
                     email address) outlining the abuse and or complaint.</p>

                <li class="font-semibold text-2xl mt-5">06. Abuse/complaints</li>
                <p class="font-medium text-xl mt-3">Comments, reviews and/or feedback ("Comments") relating to you, may be published on the Site. Such Comments may be critical
                    or defamatory. We are not liable in respect of any Comments irrespective of whether we are aware or ought to have been 
                    aware of such Comments. Notwithstanding the foregoing, you can report any abuse or complain about any Comments, User 
                    Content or other Content on the Site by using the [Report Abuse] function on the Site or sending an email to (skillas 
                    email address) outlining the abuse and or complaint.</p>

                <li class="font-semibold text-2xl mt-5">07. Privacy Policy</li>
                <p class="font-medium text-xl mt-3">Skilla Service processes information in accordance with our privacy policy. You must read
                     and accept the terms of our privacy policy prior to using the Site, Skillas Service or Software. By using the Site, 
                     Skillas Service or Software, you agree to such processing and you warrant that all data provided by you is true, correct
                      and accurate.</p>

                <li class="font-semibold text-2xl mt-5">08. Accessing the site</li>
                <p class="font-medium text-xl mt-3">We reserve the right to, at our sole discretion, withdraw, amend, modify or vary the services
                     provided on the Site without notice. We will not be held liable if, for any reason, the Site or Skillas Service is unavailable
                      at any time or for any period. We may at our sole discretion, and without notice, restrict access for a period of time to all 
                      or part of the Site or Skillas Service.</p>
                <p class="font-medium text-xl mt-3">You are responsible for making all necessary arrangements to ensure you can access the Site. 
                    We shall not be held responsible for any reduced functionality you may encounter as result of or in connection with accessing 
                    the Site through mobile services or any similar service currently known or developed in the future. We shall not under any 
                    circumstances be liable for any hardware or software issues or for any charges in respect of wireless, Internet and/or mobile
                     service providers or any other similar charges and fees. We maintain, control and operate the Site from Nigeria and we do not 
                     represent that any of the Content is appropriate or available for use in other territories. If you access the Site from outside 
                     Nigeria you are solely responsible for compliance with all applicable local laws and regulations.</p>

                <li class="font-semibold text-2xl mt-5">09. Disclaimer of warranties and limitation of liability.</li>
                <p class="font-medium text-xl mt-3">Skillas Service does not guarantee that its Website or its content
                     will correspond to your expectations, will not be interrupted, timely, secure and free of error.</p>
                <p class="font-medium text-xl mt-3">Any advice or information, be it oral or written, obtained from the Skillas Service or during
                     the use of services made available on the sites, shall not give rise to any guaranty.</p>
                <p class="font-medium text-xl mt-3">You access, use, browse and navigate on our Website at your own risk and peril.</p>
                <p class="font-medium text-xl mt-3">You recognise and accept that, to the fullest extent permitted by applicable regulations, 
                    neither Skillas Service, any of its affiliated entities, nor any other party involved in creating, producing or delivering the 
                    Website, may be held liable for any direct, indirect, or consequential damages, any injury to reputation, costs, losses, decrease
                     in turnover or profits or liabilities of any nature whatsoever (even if the advent of such damage was known or could have been 
                     known by Skillas Service, capable of arising from your access to, or use of, or on the contrary the impossibility to use, the 
                     Website or its content.</p>
                <p class="font-medium text-xl mt-3">All material and information which are downloaded or obtained by any other manner during the 
                    use of our Website are without guarantee at your own risk and peril. Skillas Service assumes no liability for any damage or 
                    virus which could affect your computer equipment or other property by reason of your access to, use or downloading of any material 
                    from its Website or for any illegal intrusion or intervention in the IT systems.</p>
                <p class="font-medium text-xl mt-3">Skillas Service reserves the right to interrupt or discontinue any or all of the functionality of
                     its Website. Skillas Service accepts no responsibility or liability whatsoever for any interruption or discontinuance of any or all 
                     functionality of its Website resulting from actions or omissions of Skillas Service or any third party.</p>

                <li class="font-semibold text-2xl mt-5">10. Indemnity</li>
                <p class="font-medium text-xl mt-3">You hereby indemnify us and undertake to keep us fully and effectively indemnified from and against
                     any and all third party claims, losses, damages (actual or consequential), actions, costs, liabilities and expenses (including legal 
                     expenses and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred 
                     or suffered by us as a result of, in connection with or arising out of: (a) any breach of warranty, representation or covenant made by 
                     you; (b) any infringement of intellectual property rights of any third party in connection with your use of the Site, Skillas Service 
                     or Software; or (c) your use of the Site, Skillas Service or Software other than in accordance with these Terms or any breach of any 
                     applicable law or regulation ("Claim").</p>
                <p class="font-medium text-xl mt-3">You shall co-operate fully and reasonably as required by us in the defence of any Claim. Notwithstanding 
                    the foregoing, Skillas Service retains the exclusive right and without your prior consent to settle, compromise and pay any and all Claims 
                    or causes of action which are brought against us and in no event shall you settle any such action or Claim with our prior written approval.</p>

                <li class="font-semibold text-2xl mt-5">11. Copyright Infringement</li>
                <p class="font-medium text-xl mt-3">The content of our Website and namely but not exclusively the texts, marks, logos, diagrams, photographs, 
                    videos, sounds, music, layout, designs, know-how, technologies, products, and processes are the property of Skillas Service or its 
                    affiliated entities or are used with the authorisation of the owners, and accordingly are protected by copyright, trademarks, patents 
                    and all other intellectual or industrial property rights which exist under applicable law.</p>

                <li class="font-semibold text-2xl mt-5">12. Termination</li>
                <p class="font-medium text-xl mt-3">We reserve the right at our sole discretion, at any time without liability and with or 
                    without prior notice to you:</p>

                    <ul class="font-medium text-xl mt-3 pl-5">
                        <li>•   to bring court proceedings against you for breach of contract or otherwise;</li><br/>
                        <li>•	not to post any User Content on to the Site;</li><br/>
                        <li>•	to remove, suspend or disable access to any User Content;</li><br/>
                        <li>•	to suspend or revoke your account registration (where applicable) and your right to access and/or use the Site or Skilla Service; and</li><br/>
                        <li>•	to make use of any operational, technological, legal, or other means available to enforce these Terms, 
                                including, without limitation, blocking specific IP addresses or deactivating your registration and/or user name 
                                and password (where applicable).Notwithstanding the above, we will try to warn users that their access to the Site 
                                and/or their user account may be suspended or terminated.</li>
                    </ul>
                <p class="font-medium text-xl mt-3">You can terminate your account at any time by sending an email request to (Skilla Services email).</p>

                <li class="font-semibold text-2xl mt-5">13. Third party Website</li>
                <p class="font-medium text-xl mt-3">As a service to our visitors, our Website may contain hypertext links leading to other 
                    websites that are not operated or controlled by Skilllas Services. Skillas Service shall not be considered as responsible
                     for these sites and declines all responsibility and liability in relation to their content, legality, accuracy or functions. </p>
                <p class="font-medium text-xl mt-3">The creation of any hyperlink to our Website is prohibited without prior written consent of Skillas Service.</p>

                <li class="font-semibold text-2xl mt-5">14. Payments</li>
                <p class="font-medium text-xl mt-3">Users agree to the payment terms specified in their subscription plan. The website accepts payments through 
                    [list acceptable payment methods, e.g., credit/debit cards, electronic funds transfer, etc.].</p>

                    <ul class="font-medium text-xl mt-3 pl-5">
                        <li>a.  The User agrees to provide accurate and complete payment information as requested by Skillas service.</li><br/>
                        <li>b.	The User agrees to pay the specified subscription fee or charges associated with the selected services.</li><br/>
                        <li>c.	If the User subscribes to a recurring service, the subscription may automatically renew unless canceled by the User.</li><br/>
                        <li>d.  The User is responsible for managing their subscription settings to avoid automatic renewal.</li><br/>
                        <li>e.  All transactions and payments are processed in [……..currency]. Any applicable taxes or fees are specified during the checkout process.</li><br/>
                        <li>f.  In the event of a failed payment, Users should contact their bank for resolution. The User may lose access to certain features or services until the payment issue is resolved.</li><br/>
                        <li>g.	The website is not responsible for any losses or disruptions caused by failed payments.</li><br/>
                        <li>h.	The website employs security measures to prevent fraud and unauthorized transactions.</li><br/>
                        <li>i.	Users engaging in fraudulent activities may be subject to legal action.</li><br/>
                        <li>j.	Payments may be processed through third-party payment processors. Users are subject to the terms and conditions of these processors.</li><br/>
                        <li>k.	The website reserves the right to change prices or introduce new fees for services at any time. Changes will be effective upon notice to the Users.</li><br/>
                        <li>l.	Failure to make timely payments may result in the suspension or termination of access to certain features or services.</li>
                    </ul>

                <li class="font-semibold text-2xl mt-5">15. Trademarks.</li>
                <p class="font-medium text-xl mt-3">All trademarks associated with this website are the exclusive property of the Owner.</p>

                <li class="font-semibold text-2xl mt-5">16. Waivers</li>
                <p class="font-medium text-xl mt-3">No waiver by the website owner of any term or condition shall be considered a further or 
                    continuing waiver. The failure of any of the parties hereto to at any time enforce any of the provisions of this Agreement 
                    shall not be deemed or construed to be a waiver of any such provision, nor to in any way affect the validity of this 
                    Agreement or any provision hereof or the right of any of the parties hereto to thereafter enforce each and every provision 
                    of this Agreement. No waiver of any breach, non-compliance or non-fulfillment of any of the provisions of this Agreement 
                    shall be effective unless set forth in an instrument in writing executed by the party or parties against whom or which 
                    enforcement of such waiver is sought; and no waiver of any such breach, non-compliance or non-fulfillment shall be construed 
                    or deemed to be a waiver of any other or subsequent breach, non-compliance or non-fulfillment.</p>

                <ul class="font-medium text-xl mt-3 pl-5">
                    <li>•	Competition</li>
                    <p class="font-medium text-xl mt-3">From time to time we may run competitions, free prize draws and/or other promotions on 
                        the Site. These will be subject to separate terms and conditions (that we will make available to you as appropriate).</p><br/>
                    <li>•   Variations</li>
                    <p class="font-medium text-xl mt-3">We may, at our sole discretion, modify, revise or amend these Terms from time-to-time. 
                        If we do this, then the revised terms of use will apply to the use of the Site from the date of the publication of the 
                        revised terms on the Site. Please check the Site regularly to ensure you are familiar with the current version of the 
                        Terms. If you do not accept any of the modifications, revisions or amendments to these Terms, you should stop using the
                         Site and the Skillas Service immediately. If you continue to use the Site or Skillas Service following any modifications,
                          amendments or revisions to the Terms being posted on the Site, you will be deemed to have accepted and will be legally 
                          bound by the new Terms</p>
                </ul>

                <li class="font-semibold text-2xl mt-5">17. Assignment</li>
                <p class="font-medium text-xl mt-3">We may sub-contract, assign or otherwise transfer our rights and/or obligations under these Terms 
                    without notifying you or obtaining your consent.</p>
                <p class="font-medium text-xl mt-3">You may not sub-contract assign or otherwise transfer your rights and/or obligations under these Terms.</p>

                <li class="font-semibold text-2xl mt-5">18. Severability</li>
                <p class="font-medium text-xl mt-3">If, for any reason, a provision of these Terms is determined by any court or other competent
                     authority to be unlawful and/or unenforceable, it shall be severed and deleted from these Terms and the other provisions 
                     will survive and continue in to be binding and enforceable.</p>

                <li class="font-semibold text-2xl mt-5">19. Exclusion of Third party Rights</li>
                <p class="font-medium text-xl mt-3">These Terms are for the benefit of you and us, and are not intended to benefit or be 
                    enforceable by any third party. The Contracts (Rights of Third Parties) Act 1999 shall not apply to these Terms.</p>
                    <ul class="font-medium text-xl mt-3 pl-5">
                        <li>•	Entire Agreement</li>
                        <p class="font-medium text-xl mt-3">The present Terms of Use embody the entire agreement concluded between Skillas
                             Service and the users concerning the access and the use of the Website and its content. Any other terms or 
                             conditions issued by Skillas Service and governing its relations with the users, in particular relating to its 
                             activities, shall supplement the Terms of Use; in the event of any inconsistency between you and us, the other 
                             terms or conditions shall prevail over these Terms of Use.</p>
                    </ul>

                <li class="font-semibold text-2xl mt-5">20. Law and Juridiction.</li>
                <p class="font-medium text-xl mt-3">These terms of use will be governed by and construed in accordance with the Laws of
                     the Federal Republic of Nigeria, and any disputes relating to these terms of use will be subject to the exclusive 
                     jurisdiction of the courts of …………………………(KINDLY INSERT COUNTRY)</p>
            </ol>
        </div>
    </div>

</main>
{% endblock%}