{% extends 'layout/dash_nav.html' %}
{% load static %}
{% block content %}

<div class="relative flex sm:ml-10 ml-5 font-primary w-full">
  <!-- Body -->
  <div class="">
    {% if messages %} {% for message in messages %}
    <div
      class="bg-green-600 px-10 custom:mx-auto text-center mt-5 text-white font-semibold py-3 md:w-1/2 rounded-md"
      role="alert"
    >
      {{ message }}
    </div>
    {% endfor %} 
    {% endif %}
    <div>
      <div class="p-10">
        <h3 class="font-primary font-normal text-2xl -ml-10">Profile</h3>
      </div>

      <div class="md:flex">
        <div class="xl:ml-10">

          <!-- picture Modal  -->
          <div
            class="fixed z-10 inset-0 overflow-y-auto hidden"
            id="editPictureModal"
          >
            <div
              class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
            >
              <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
              </div>
              <span
                class="hidden sm:inline-block sm:align-middle sm:h-screen"
                aria-hidden="true"
              ></span>
              <div
                class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-sm transform transition-all sm:my-8 sm:align-top sm:max-w-2xl sm:w-full"
                role="dialog"
                aria-modal="true"
                aria-labelledby="modal-headline"
              >
                <!-- Modal content goes here -->

                <form method="POST" enctype="multipart/form-data" class="p-6">
                  {% csrf_token %}
                  <h2 class="text-lg font-semibold mb-4">Change Picture</h2>

                  {{ profile_pic_form.as_p }}

                  <div class="text-right">
                    <button
                      type="submit"
                      class="rounded bg-veryDarkGreen text-white px-3 py-2 hover:bg-green-500 font-bold focus:outline-none focus:shadow-outline"
                    >
                      update
                    </button>
                    <button
                      class="bg-gray-300 border-2 border-gray-700 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2"
                      type="button"
                      id="closePictureModal"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Picture Modal  -->


          
          
          <div class="lg:ml-0 md:-ml-14">
            <img
            src="{% if profile_pic %}{{ profile_pic.0.image.url }}{% else %}{% static 'img/Client-Photo.png' %}{% endif %}"
            class="rounded-full mx-0 portable:mx-10 sm:mx-10 md:mx-10 lg:mx-0 -mt-5 w-40 h-40  sm:w-72 sm:h-72 md:w-60 md:h-60 lg:w-96"
            alt="Profile picture"
          />
          </div>
          

          <a href="#"
            ><img
              src="{% static '/img/camera.png' %}"
              alt=""
              id="openPictureModal"
              class="xl:translate-x-40 lg:translate-y-5 lg:translate-x-44 md:translate-x-36 sm:translate-x-52 sm:-mt-6 portable:translate-x-40 custom:translate-x-20 md-compact:translate-x-20 translate-x-16 md-compact:-mt-2 custom:-mt-4 portable:-mt-4 md:-mt-7 lg:-mt-16 ml-10 sm:w-8 w-6"
          /></a>
        </div>

        <div class="lg:border w-full mt-10 lg:-mt-10 lg:ml-20 md:ml-10 sm:ml-5 mb-10 xl:pr-80 sm:mr-10 sm:pl-0 portable:mt-12  portable:mx-5 rounded-md custom:mt-12 md-compact:-ml-10 -ml-10">
          <div class="font-primary">

            <!-- about Modal  -->
            <div
              class="fixed z-10 inset-0 overflow-y-auto hidden"
              id="editModal"
            >
              <div
                class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
              >
                <div
                  class="fixed inset-0 transition-opacity"
                  aria-hidden="true"
                >
                  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
                <span
                  class="hidden sm:inline-block sm:align-middle sm:h-screen"
                  aria-hidden="true"
                  >&#8203;</span
                >
                <div
                  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-top sm:max-w-2xl sm:w-full"
                  role="dialog"
                  aria-modal="true"
                  aria-labelledby="modal-headline"
                >
                  <!-- Modal content goes here -->

                  <form method="POST" class="p-6">
                    {% csrf_token %}
                    <h2 class="text-lg font-semibold mb-4">Title</h2>

                    <div class="mb-4">
                      <label
                        class="block text-gray-600 text-sm font-bold mb-2"
                        for="id_about"
                        >About:</label
                      >
                      <textarea
                        class="border border-gray-300 rounded w-full py-2 px-3"
                        name="about"
                        cols="40"
                        rows="10"
                        maxlength="150"
                        required
                        id="id_about"
                      >
                      </textarea>
                    </div>

                    <div class="mb-4">
                      <label
                        class="block text-gray-600 text-sm font-bold mb-2"
                        for="id_work_experience"
                        >Work experience:</label
                      >
                      <input
                        class="border border-gray-300 rounded w-full py-2 px-3"
                        type="text"
                        name="work_experience"
                        maxlength="128"
                        id="id_work_experience"
                      />
                    </div>

                    <div class="text-right">
                      <button
                        type="submit"
                        class="rounded bg-veryDarkGreen text-white px-3 py-2 hover:bg-green-500 font-bold focus:outline-none focus:shadow-outline"
                        type="button"
                      >
                        update
                      </button>
                      <button
                        class="bg-gray-300 border-2 border-gray-700 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2"
                        type="button"
                        id="closeModal"
                      >
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- about Modal  -->


            <div class="xl:ml-20">
              <a href="#"
                ><img
                  src="{% static '/img/Group 68.png' %}"
                  id="openModal"
                  alt=""
                  class="mt-5 xl:translate-x-80 xl:ml-96 lg:translate-x-96 lg:ml-20 lg:translate-y-0 md:translate-x-96 md:-translate-y-16 sm:translate-x-96 sm:translate-y-14 portable:translate-x-72 portable:translate-y-12 custom:translate-x-72 custom:translate-y-10 translate-x-56 translate-y-12"
              /></a>
            </div>
            
            <div
              class="font-extrabold text-veryDarkGreen xl:text-4xl lg:text-4xl md:text-2xl md-compact:text-xl custom:text-lg text-base p-5 ml-5 lg:-mt-12 md:-mt-32"
            >
              {{user.first_name}} {{user.last_name}}
            </div>

            <h6 class="font-extrabold text-sm text-veryDarkGreen ml-10">
              About {{user.username}}
            </h6>
            <div class="ml-10 mt-2 text-xs custom:text-sm pr-28 custom:pr-0 md-compact:pr-12 sm:mr-24">
              {% for x in about_skilla %} {{ x.about }} {% endfor %}
            </div>

            {% for info in profile %}

            <div class="ml-2 mt-2 mb-5 mr-24  rounded-sm">
              <div class="ml-8">
                <h6 class="font-medium text-sm mt-5">Expertise</h6>
                <h4 class="text-xs custom:text-sm">{{info.certifications}}</h4>

                <h6 class="font-medium text-sm mt-5">Phone Number</h6>
                <h4 class="text-xs custom:text-sm">{{user.phone_no}}</h4>

                <h6 class="font-medium text-sm mt-5">Email</h6>
                <h4 class="text-xs custom:text-sm">{{user.email}}</h4>

                <h6 class="font-medium text-sm mt-5">Location</h6>
                <h4 class="text-xs custom:text-sm">{{info.current_location}}</h4>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>

      <hr class="hidden custom:block xl:ml-10 portable:mr-10 mr-16 border border-veryLightAsh" />

      <div class="lg:shadow lg:border mb-20 sm:mr-10 font-primary mt-12">

        <!-- Training Modal  -->
        <div
          class="fixed z-10 inset-0 overflow-y-auto hidden"
          id="editTrainingModal"
        >
          <div
            class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
          >
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
              <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
            <span
              class="hidden sm:inline-block sm:align-middle sm:h-screen"
              aria-hidden="true"
              >&#8203;</span
            >
            <div
              class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-top sm:max-w-2xl sm:w-full"
              role="dialog"
              aria-modal="true"
              aria-labelledby="modal-headline"
            >
              <!-- Modal content goes here -->

              <form method="POST" class="p-6">
                {% csrf_token %}
                <h2 class="text-lg font-semibold mb-4">
                  Add Training & Certification
                </h2>

                <div class="mb-4">
                  <label
                    class="block text-gray-600 text-sm font-bold mb-2"
                    for="id_cert_earned"
                    >Cert earned</label
                  >
                  <input
                    class="border border-gray-300 rounded w-full py-2 px-3"
                    type="text"
                    name="cert_earned"
                    maxlength="100"
                    id="id_cert_earned"
                  />
                </div>

                <div class="mb-4">
                  <label
                    class="block text-gray-600 text-sm font-bold mb-2"
                    for="id_skill_learned"
                    >Skill learned</label
                  >
                  <input
                    class="border border-gray-300 rounded w-full py-2 px-3"
                    type="text"
                    name="skill_learned"
                    maxlength="100"
                    id="id_skill_learned"
                  />
                </div>

                <div class="mb-4">
                  <label
                    class="block text-gray-600 text-sm font-bold mb-2"
                    for="id_grade"
                    >Grade</label
                  >
                  <input
                    class="border border-gray-300 rounded w-full py-2 px-3"
                    type="text"
                    name="grade"
                    maxlength="128"
                    id="id_grade"
                  />
                </div>

                <div class="text-right">
                  <button
                    type="submit"
                    class="rounded bg-veryDarkGreen text-white px-3 py-2 hover:bg-green-500 font-bold focus:outline-none focus:shadow-outline"
                  >
                    update
                  </button>
                  
                  <button
                    class="bg-gray-300 border-2 border-gray-700 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2"
                    type="button"
                    id="closeTrainingModal"
                  >
                    Cancel
                  </button>
                  
                </div>
                
              </form>
            </div>
          </div>
        </div>
        <!-- Training Modal  -->
        

        {% comment %} <div class="sm:ml-10 custom:pl-5 md-compact:pl-3 mt-20 mb-5 flex -ml-5">
          <h6 class="font-bold md-compact:text-lg compact:text-sm">Training & Certification</h6>
          <div class="lg:ml-80">
            <a href="#"
              ><img
                src="{% static '/img/Group 68.png' %}"
                id="openTrainingModal"
                alt=""
                class="xl:translate-x-72 xl:ml-72 lg:translate-x-52 lg:ml-0 md:translate-x-72 md:ml-14 sm:translate-x-36 portable:translate-x-28 custom:translate-x-10 md-compact:translate-x-10 translate-x-10"
            /></a>
          </div>
        </div> {% endcomment %}

        {% comment %} <table class="sm:w-3/4 w-1/4 mt-10 text-left text-xs portable:text-base sm:ml-10 custom:-ml-3 -ml-5">
          <tr>
            <th class="py-2">Courses</th>

            <th class="py-2 pr-2">skills</th>

            <th class="py-2 pr-2">Grade</th>

            <th class="py-2 hidden md-compact:block">Assessed</th>
          </tr>

          {% for x in train_and_cert %}
          <tr class="border-2 pr-10">
            <td>{{ x.cert_earned }}</td>

            <td>{{ x.skill_learned }}</td>

            <td class="pl-2">{{ x.grade }}</td>
            <td class="mr-5 hidden md-compact:flex justify-center md-compact:mt-5 portable:mt-7 md:mt-5 lg:mt-3 xl:mt-0">
              <img src="{% static '/img/Vector (14).png' %}" />
            </td>
          </tr>
          {% endfor %}
        </table> {% endcomment %}

        <div class="mt-20">
          <div class="sm:ml-10 flex">
            <h6 class="font-extrabold custom:ml-0 md-compact:text-base compact:text-sm -ml-4">Work Experience</h6>
          </div>

          <div class="sm:ml-10 font-primary font-normal custom:ml-0 -ml-4 text-xs md-compact:text-sm compact:text-sm pb-16">
            {% for x in about_skilla %} {{ x.work_experience }} {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const editModal = document.getElementById("editModal");
  const openModalButton = document.getElementById("openModal");
  const closeModalButton = document.getElementById("closeModal");

  openModalButton.addEventListener("click", () => {
    editModal.classList.remove("hidden");
  });

  closeModalButton.addEventListener("click", () => {
    editModal.classList.add("hidden");
  });
</script>

<script>
  const editTrainingModal = document.getElementById("editTrainingModal");
  const openTrainingModalButton = document.getElementById("openTrainingModal");
  const closeTrainingModalButton =
    document.getElementById("closeTrainingModal");

  openTrainingModalButton.addEventListener("click", () => {
    editTrainingModal.classList.remove("hidden");
  });

  closeTrainingModalButton.addEventListener("click", (event) => {
    event.preventDefault();
    editTrainingModal.classList.add("hidden");
  });
</script>

<script>
  const editPictureModal = document.getElementById("editPictureModal");
  const openPictureModalButton = document.getElementById("openPictureModal");
  const closePictureModalButton = document.getElementById("closePictureModal");

  openPictureModalButton.addEventListener("click", () => {
    editPictureModal.classList.remove("hidden");
  });

  closePictureModalButton.addEventListener("click", (event) => {
    event.preventDefault();
    editPictureModal.classList.add("hidden");
  });
</script>

{% endblock %}
