{% extends 'layout/home_nav.html' %} {% load static %} 

{% block content%} 

<main class="mb-20">
    <div class="custom:mt-40 custom:mx-10 portable:mt-40 portable:mx-10 sm:mt-36 sm:mx-20 md:mt-36 md:mx-20 lg:mt-40 lg:mx-20 xl:mt-40 font-primary xl:ml-56 xl:mr-60">
        <h1 class="font-semibold text-3xl pb-10">Privacy Policy</h1>
        <p class="font-medium text-xl">
            This Privacy Policy governs the manner in which Skillas Service collects, uses, maintains and discloses information collected from 
            users (each, a “User”) of the Skillas Service’s website (“Site”). This privacy policy applies to the Site and all products and 
            services we offer.
        </p>


        <div class="mt-10">
            <ol>
                <li class="font-semibold text-2xl">1. Web Browser and Cookies</li>
                <p class="font-medium text-xl mt-3">Our Site may use “cookies” to enhance User experience. User’s web browser places cookies on 
                    their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web
                     browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may
                      not function properly.</p>

                <p class="font-medium text-xl mt-3">Cookies are stored on your computer when you use our website. Cookies are small text files 
                    that are stored on your hard drive associated with the browser you are using and through which certain information flows to 
                    the body that sets the cookie. Cookies cannot execute programs or transfer viruses to your computer. They serve to make the 
                    Internet offer more user-friendly and effective overall.</p>

                
                <p class="font-medium text-xl mt-3">Skillas Service is exhonorated from any claim, action or liability arising from subscription to cookies.</p>
                <p class="font-medium text-xl mt-3">You can prevent the setting of cookies by our website at any time by means of an appropriate setting of the Internet browser used and thus 
                    permanently object to the setting of cookies. Furthermore, cookies that have already been set can be deleted at any time using an Internet
                     browser or other software programs.</p>

                <li class="font-semibold text-2xl mt-5">2. Advertising</li>
                <p class="font-medium text-xl mt-3">Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies. These cookies allow the ad server to 
                    recognize your computer each time they send you an online advertisement to compile non personal identification information about you or others who use your computer. 
                    This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.</p>
                
                <li class="font-semibold text-2xl mt-5">3. How we use collected Information</li>
                <p class="font-medium text-xl mt-3">We collect and uses Users personal information for the following purposes:</p>
                    <ul class="font-medium text-xl mt-3 pl-5">
                        <li>•	To personalize user experience</li><br/>
                        <li>•   We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.</li><br/>
                        <li>•   To process transactions</li><br/>
                        <li>•   To send periodic emails</li><br/>
                    </ul>
                
                <p class="font-medium text-xl mt-3">If User decide to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any 
                    time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each 
                    email.</p>

                <li class="font-semibold text-2xl mt-5">4. How we protect your Information</li>
                <p class="font-medium text-xl mt-3">We adopt appropriate data collection, storage and processing practices and security measures to protect against 
                    unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>
            
                <li class="font-semibold text-2xl mt-5">5. Changes to Privacy Policy</li>
                <p class="font-medium text-xl mt-3">We reserve the discretion to update this privacy policy at any time. When we do, we will revise the updated date at 
                    the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to 
                    protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy 
                    periodically and become aware of modifications.</p>
            
            
                <li class="font-semibold text-2xl mt-5">6. Acceptance of Terms</li>
                <p class="font-medium text-xl mt-3">By using this Site, you signify your acceptance of this policy with our Terms 
                    and Condition. If you do not agree to this policy or our Terms and Conditions, please do not use our Site. Your continued use of the Site 
                    following the posting of changes to this policy and our Terms and Conditions will be deemed your acceptance of those changes.</p>
            </ol>
        </div>
    </div>
</main>
{% endblock%}