{% extends 'layout/dash_nav.html' %}
{% load static %}

{% block content %}

<div class="shadow">
    <div>
        <div class="p-10">
        <h3 class="font-primary font-normal text-2xl">Dashboard</h3>
    </div>

    <div class="mr-10 mb-20 ml-10">
        <div class="grid grid-cols-4 gap-5">
            <div class="flex border-0 shadow rounded-sm p-5">
                <a href="#"><img src="{% static '/img/Group 306.png' %}" alt=""></a>
                <div>
                    <h3 class="ml-5 text-veryDarkGreen text-sm font-bold ">Incoming Transactions</h3>
                    <h3 class="ml-5 text-veryDarkGreen text-lg font-bold ">50</h3>
                </div>
            </div>

            <div class="flex border-0 shadow rounded-sm p-5">
                <a href="#"><img src="{% static '/img/Group 307.png' %}" alt=""></a>
                <div>
                    <h3 class="ml-5 text-veryDarkGreen text-sm font-bold ">Messages</h3>
                    <h3 class="ml-5 text-veryDarkGreen text-lg font-bold ">12</h3>
                </div>
            </div>

            <div class="flex border-0 shadow rounded-sm p-5">
                <a href="#"><img src="{% static '/img/Group 308.png' %}" alt=""></a>
                <div>
                    <h3 class="ml-5 text-veryDarkGreen text-sm font-bold ">Wallet</h3>
                    <h3 class="ml-5 text-veryDarkGreen text-lg font-bold ">#300,000</h3>
                </div>
            </div>

            <div class="flex border-0 shadow rounded-sm p-5">
                <a href="#"><img src="{% static '/img/Group 309.png' %}" alt=""></a>
                <div>
                    <h3 class="ml-5 text-veryDarkGreen text-sm font-bold ">Pending</h3>
                    <h3 class="ml-5 text-veryDarkGreen text-lg font-bold ">5</h3>
                </div>
            </div>
        </div>
    </div>

    <div class=" mr-10 border-0 shadow-sm rounded-md font-primary">
       <div class="shadow-sm ml-10">
        {% for x in brief %}
            <div class="font-medium text-sm text-veryLightBlack p-5">
                {{ x.title }}
            </div>
        {% endfor %}
       </div>

       <div class="shadow-sm pb-10">
            <div class="ml-10 mt-10 p-20 bg-veryDarkGreen">
                <h2 class="font-primary font-medium text-white text-2xl  text-center">ADS</h2>
            </div>
       </div>
    </div>
    </div>
    
</div>

    
{% endblock %}