{% extends 'layout/home_nav.html' %}
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Skilla</title>

 <!-- Favicon -->
 <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/skilla_mini_logo.jpg' %}" />

  <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />

  <script src="{% static '/js/wow.min.js' %}"></script>
  <script>
    new WOW().init();
  </script>
</head>

{% block content %}
<body class="bg-white font-primary">
  <div class="lg:grid lg:grid-cols-2 custom:mx-4 portable:mx-20 justify-center">
    <div class="mx-5 py-5 p-5 hidden lg:block xl:mt-14">
      <img
        src="{% static '/img/Illustrations-06.png' %}"
        class="w-3/4 ml-60 mt-10 lg:-ml-5 lg:w-full lg:mt-60 xl:w-3/4 xl:ml-36"
      />
    </div>

    <div class="py-2 border border-veryDarkGreen custom:mt-32 custom:mb-10 custom:w-full portable:w-full lg:w-full xl:w-1/2 xl:mt-32 xl:mb-10">
      <div class="text-lg text-veryDarkGreen font-semibold text-center">
        {{ user.username }} Profile Update
      </div>

      <form method="POST" class="bg-white rounded-lg px-8 pt-6">
        {% csrf_token %}

        <div>
          <p>Country</p>
          {{ form.country }}
        </div>
        <div>
          {{ form.state }}
        </div>
        <div>
          {{ form.current_location }}
        </div>
        <div>
          <p>Experince</p>
          {{ form.experience }}
        </div>
        <div>
          {{ form.portfolio }}
        </div>
        <div>
          <p>Upload a Government issued ID</p>
          {{ form.identification }}
        </div>
        <div>
          {{ form.professional_profiles_links }}
        </div>
        <div>
          <p>Hourly rate</p>
          {{ form.hourly_rate }}
        </div>
        <div>
          {{ form.terms_and_conditions }}
        </div>

        <div>
          <button type="submit" class="bg-veryDarkGreen text-white font-semibold border border-gray-700 p-2 w-full rounded-md">Update</button>
        </div>

        
      </form>
    </div>
  </div>
</body>

{% endblock %}


{% comment %} <link href="{% static '/css/style.min.css' %}" rel="stylesheet" />
<link href="{% static '/css/style.css' %}" rel="stylesheet" />
<link href="{% static '/css/output.css' %}" rel="stylesheet" />
<link href="{% static '/css/animate.css' %}" rel="stylesheet" />
<script src="{% static '/js/init-alpine.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/wow.min.js' %}"></script>
<script>
  new WOW().init();
</script> {% endcomment %}
