{% extends 'layout/dash_nav.html' %}
{% load static %}

{% block content %}

<div class="bg-gray-50">
    <div>
        <div class="p-10">
        <h3 class="font-primary font-normal text-2xl">Dashboard</h3>
    </div>

    <div class="mr-10 mb-20 ml-10">
        <div class="grid grid-cols-4 gap-5">
            <div class="flex border-0 shadow rounded-sm p-5 bg-white">
                <a href="#"><img src="{% static '/img/Group 306.png' %}" alt=""></a>
                <div>
                    <h3 class="ml-5 text-veryDarkGreen text-sm font-bold ">Incoming Transactions</h3>
                    <h3 class="ml-5 text-veryDarkGreen text-lg font-bold ">50</h3>
                </div>
            </div>

            <div class="flex border-0 shadow rounded-sm p-5 bg-white">
                <a href="#"><img src="{% static '/img/Group 307.png' %}" alt=""></a>
                <div>
                    <h3 class="ml-5 text-veryDarkGreen text-sm font-bold ">Messages</h3>
                    <h3 class="ml-5 text-veryDarkGreen text-lg font-bold ">12</h3>
                </div>
            </div>

            <div class="flex border-0 shadow rounded-sm p-5 bg-white">
                <a href="#"><img src="{% static '/img/Group 308.png' %}" alt=""></a>
                <div>
                    <h3 class="ml-5 text-veryDarkGreen text-sm font-bold ">Wallet</h3>
                    <h3 class="ml-5 text-veryDarkGreen text-lg font-bold ">#300,000</h3>
                </div>
            </div>

            <div class="flex border-0 shadow rounded-sm p-5 bg-white">
                <a href="#"><img src="{% static '/img/Group 309.png' %}" alt=""></a>
                <div>
                    <h3 class="ml-5 text-veryDarkGreen text-sm font-bold ">Pending</h3>
                    <h3 class="ml-5 text-veryDarkGreen text-lg font-bold ">5</h3>
                </div>
            </div>
        </div>
    </div>

    
    <div class=" mr-10 border-0 shadow-sm rounded-md font-primary p-1">
        {% for x in brief %}
       <div class="shadow mx-10 my-2 border bg-white w-3/4 item-center">
            <div class="font-medium text-sm text-veryLightBlack p-5">
                <div class="font-semibold">
                    {{ x.user.username }}
                </div>
                <div>
                    completion date: {{ x.date }}
                </div>
                <div class="text-xl">
                    {{ x.title }}
                </div>
                <div class="bg-gray-50 p-2 mx-2 mt-2 mb-5 space-y-4">
                    <div>
                    {{ x.description }}
                    </div>
                    <div>
                        {{ x.categories }}
                    </div>
                    <div>
                       Budget: ₦{{ x.budget }}
                    </div>
                    
                    {% if x.budget_flexible == True %}
                    <div class="text-xs">
                        negotiable
                     </div>
                    {% endif %}
                </div>
                <a href="#" class="bg-veryDarkGreen shadow font-semibold text-gray-100 border px-5 py-2 mx-5 my-5 rounded-md">
                    Contact client
                </a>
            </div>
            
       </div>
       {% endfor %}

       <div class="shadow-sm pb-10">
            <div class="ml-10 mt-10 p-20 bg-veryDarkGreen">
                <h2 class="font-primary font-medium text-white text-2xl  text-center">ADS</h2>
            </div>
       </div>
    </div>
    </div>
    
</div>

    
{% endblock %}