{% extends 'layout/client_nav.html' %} {% load static %} {% block content %}

<main>
  <section
    class="border rounded-lg shadow-md mt-10 w-1/2 bg-gray-50 mx-auto justify-center items-center"
  >
    <div class="grid grid-cols-2">
      <div>
        <div class="p-5">
          <img src="{{ gig.image.url }}" class="w-full" />
        </div>
      </div>

      <div>
        <div class="flex justify-center">
          <div class="mt-10">
            <h2 class="font-semibold text-veryDarkGreen text-lg">{{ gig.skilla.username }}</h2>
          </div>

          <div class="mt-10 ml-48">
            <h2 class="font-semibold text-lg text-green-600">NGN{{ gig.base_price }}</h2>
          </div>
        </div>

        <div class="mt-12 flex justify-center">
          <h2 class="font-semibold text-2xl text-veryDarkGreen">{{ gig.title }}</h2>
        </div>

        <div class="mt-2 flex justify-center">
          <h2 class="mt-5 text-sm text-veryDarkGreen">
            {{ gig.description }}
          </h2>
        </div>

        <div class="mt-12 flex justify-center">
          <div>
            <h2 class="font-semibold text-sm text-veryDarkGreen">{{ gig.level }}</h2>
          </div>

          <div class="ml-44">
            <h2 class="font-semibold text-lg text-veryDarkGreen">{{ gig.skill }}</h2>
          </div>
        </div>

        <div class="mt-20 flex">
          <div>
            <a href="#"
              ><img
                src="{{ gig.image.url }}"
                alt="Skillas photo"
                class="rounded-full w-14 h-14"
            /></a>
          </div>

          <div class="mt-3 mb-10">
            <a
              href="#"
              class="bg-veryDarkGreen text-white text-lg font-bold rounded-2xl mx-10 px-16 py-3"
              >Contact {{ gig.skilla.username }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
