{% extends 'layout/dash_nav.html' %} {% load static %} {% block content %}

<div class="xl:mt-14 lg:mt-10 xl:mx-96 lg:mx-10">

    <div class="flex mb-20">
        <div class="lg:w-72 bg-veryShadyGreen">
            <div class="py-36">
                <div class="flex">
                    <img class="lg:h-14 lg:w-14 md:h-12 sm:w-12" src="{% static '/img/check_mark.png' %}" alt="icon" />
                    <a href="#" class="text-darkBlue font-medium text-base lg:ml-5 mt-3">PERSONAL DETAILS</a>
                </div>
    
                <div class="border-l-2 border-brightGreen h-8 ml-6"></div>
    
                <div class="mt-5 flex">
                    <img class="lg:h-14 lg:w-14 md:h-12 sm:w-12" src="{% static '/img/check_mark.png' %}" alt="icon" />
                    <a href="#" class="text-darkBlue font-medium text-base lg:ml-9 ml-3">ADDRESS DETAILS</a>
                </div>
    
                <div class="border-l-2 border-brightGreen h-8 ml-6"></div>
    
                <div class="mt-5 flex">
                    <img class="lg:h-14 lg:w-14 md:h-12 sm:w-12" src="{% static '/img/check_mark.png' %}" alt=" icon" />
                    <a href="#" class="text-darkBlue font-medium text-base lg:ml-9 ml-3">IDENTITY DETAILS</a>
                </div>
    
                <div class="border-l-2 border-brightGreen h-8 ml-6"></div>
    
                <div class="mt-5 flex">
                    <img class="lg:h-14 lg:w-14 md:h-12 sm:w-12" src="{% static '/img/check_mark.png' %}" alt=" icon" />
                    <a href="#" class="text-darkBlue font-medium text-base lg:ml-9 ml-3">DOCUMENTS UPLOAD</a>
                </div>
    
                <div class="border-l-2 border-brightGreen h-8 ml-6"></div>
    
                <div class="mt-5 flex">
                    <img class="h-8 w-8 ml-3" src="{% static '/img/icon_5.png' %}" alt=" icon" />
                    <a href="#" class="text-mintBlue font-medium text-base lg:ml-9 ml-3">REVIEW</a>
                </div>
            </div>
        </div>

        <div class="bg-gray-100 w-[650px]">
            <h6 class="text-shadeAsh_7 flex justify-end mr-10 mt-5">Having trouble? <a href="#" class="text-darkBlue">Get help</a></h6>
    
            <div class="mt-10 lg:ml-14">
                <h3 class="text-darkBlue font-semibold text-2xl">Review</h3>

                <p class="text-darkBlue font-medium text-base mt-5">Your KYC is pending on below trading platforms.</p>

                <p class="text-darkBlue font-medium text-base mt-10">Please verify one by one</p>

                    <div class="flex items-center justify-between mt-10">
                        <a href="/skillas_dashboard" class="bg-veryDarkGreen mb-20 text-white font-medium text-lg py-3 px-4 rounded-md focus:outline-none focus:shadow-outline" type="button">
                            SAVE & COUNTINUE
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    

    

</div>

{% endblock %}
