{% extends 'layout/dash_nav.html' %} {% load static %} {% block content %}

<div class="mt-20 mx-96 border">

    <div class="flex">
        <div class="w-72 bg-lightGreen">
            <div class="my-28">
                <div class="flex">
                    <img class="h-14 w-14" src="{% static '/img/check_mark.png' %}" alt="icon" />
                    <a href="#" class="text-shadeAsh_5 font-medium text-base ml-5 mt-3">PERSONAL DETAILS</a>
                </div>
    
                <div class="border-l-2 border-brightGreen h-8 ml-6"></div>
    
                <div class="mt-5 flex">
                    <img class="h-7 w-7 ml-3" src="{% static '/img/icon_2.png' %}" alt="icon" />
                    <a href="#" class="text-mintBlue font-medium text-base ml-9">ADDRESS DETAILS</a>
                </div>
    
                <div class="border-l-2 border-shadeAsh_5 h-8 ml-6 mt-3"></div>
    
                <div class="mt-5 flex">
                    <img class="h-8 w-8 ml-3" src="{% static '/img/icon_3.png' %}" alt=" icon" />
                    <a href="#" class="text-darkBlue font-medium text-base ml-9">IDENTITY DETAILS</a>
                </div>
    
                <div class="border-l-2 border-shadeAsh_5 h-8 ml-6 mt-3"></div>
    
                <div class="mt-5 flex">
                    <img class="h-8 w-8 ml-3" src="{% static '/img/icon_4.png' %}" alt=" icon" />
                    <a href="#" class="text-darkBlue font-medium text-base ml-9">DOCUMENTS UPLOAD</a>
                </div>
    
                <div class="border-l-2 border-shadeAsh_5 h-8 ml-6 mt-3"></div>
    
                <div class="mt-5 flex">
                    <img class="h-8 w-8 ml-3" src="{% static '/img/icon_5.png' %}" alt=" icon" />
                    <a href="#" class="text-darkBlue font-medium text-base ml-9">REVIEW</a>
                </div>
            </div>
        </div>

        <div class="bg-gray-100 w-[650px]">
            <h6 class="text-shadeAsh_7 flex justify-end">Having trouble? <span class="text-darkBlue">Get help</span></h6>
    
        </div>
    </div>
    
    

    

</div>

{% endblock %}
